<mat-chip-listbox class="chip-list overflow-hidden w-100 d-grid">

  <button (click)="toggleAll()" class="icon-button focus-outline mt-1 me-1">
    <mat-chip [highlighted]="activeTeams().length === teams().length" color="primary">
      <p>Alle</p>
    </mat-chip>
  </button>

  @for (team of teams().slice(0, showMoreTeams || !isMobile() ? teams().length : 6); track team.id) {
  <button
    (click)="toggleSelection(team.id)"
    [attr.data-testId]="'team-filter-chip'"
    [matTooltip]="team.description"
    matTooltipPosition="above"
    class="icon-button focus-outline mt-1 me-1"
  >
    <mat-chip [highlighted]="activeTeams().includes(team.id)" color="primary">
      <p class="text-truncate chip-team-name m-0">{{ team.name }}</p>
    </mat-chip>
  </button>
  }

  @if (teams().length > 6) {
  <button
    (click)="showMoreTeams = !showMoreTeams"
    id="toggle-show-more-teams"
    class="icon-button focus-outline mt-1 ms-1 d-block d-md-none"
  >
    <a class="primary-a-tag">{{ showMoreTeams ? "Weniger" : "Mehr" }}</a>
  </button>
  }
</mat-chip-listbox>
