<h1 mat-dialog-title class="d-flex justify-content-center">This is an example dialog</h1>
<mat-dialog-content class="d-flex justify-content-center flex-column">
  <form [formGroup]="dialogForm" (ngSubmit)="save()" class="d-flex flex-column justify-content-center">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Ex. Tom" value="" />
    </mat-form-field>

    <mat-radio-group formControlName="gender">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="other">Other</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label>Please select a hobby</mat-label>
      <mat-select [(value)]="selected" name="hobbies" formControlName="hobby">
        <mat-option [value]="hobby" *ngFor="let hobby of hobbies">{{ hobby }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [mat-dialog-close]="true" [disabled]="!dialogForm.valid">Save</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
