<h1 mat-dialog-title class="d-flex justify-content-center">This is an example dialog</h1>
<mat-dialog-content class="d-flex justify-content-center flex-column">
  <mat-form-field>
    <mat-label>Cars</mat-label>
    <mat-select [(value)]="selected" name="cars">
      <mat-option [value]="car" *ngFor="let car of cars">{{ car }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" />
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true">Save</button>
  </mat-dialog-actions>
</mat-dialog-content>
