.commentary-field {
  resize: none;
  padding: 0.625rem;
  height: 6.125rem;
  margin-bottom: 1.8rem;
}

.valuation-card {
  background-color: white;
  height: 5.5rem;
  text-align: center;
  color: black;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  cursor: pointer;
  font-weight: bold;
}

.card-shadow {
  color: white;
  box-shadow:
    0 0 0 0 rgba(0, 0, 0, 0.06),
    1px 1px 2px 0 rgba(0, 0, 0, 0.06),
    3px 3px 4px 0 rgba(0, 0, 0, 0.05),
    8px 6px 6px 0 rgba(0, 0, 0, 0.03),
    14px 11px 7px 0 rgba(0, 0, 0, 0.01),
    21px 18px 8px 0 rgba(0, 0, 0, 0);
}

.card-hover-successful:hover,
.card-hover-successful:focus {
  @extend .card-shadow;
  background-color: #1e8a29;
  outline: #1e8a29 solid 2px;
}

.card-hover-not-successful:hover,
.card-hover-not-successful:focus {
  @extend .card-shadow;
  background-color: #ba3838;
  outline: #ba3838 solid 2px;
}

.active {
  background-color: #1e5a96;
  color: white;
}

.non-active {
  background-color: white;
  color: black;
}

.non-active-successful:hover {
  @extend .card-shadow;
  background-color: #1e8a29;
}

.non-active-not-successful:hover {
  @extend .card-shadow;
  background-color: #ba3838;
}
