.commentary-field {
  resize: none;
  padding: 0.625rem;
  height: 6.125rem;
  margin-bottom: 2.5rem;
}

.valuation-card {
  height: 5.5rem;
  text-align: center;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #1e5a96;
  color: white;
  font-weight: bold;
}

.non-active {
  background-color: white;
  color: black;
  font-weight: bold;
}
