<app-dialog-template-core [title]="'Objective abschliessen'">
  <ng-container content>
    <div class="okr-form-row">
      <label class="okr-form-label okr-form-col">Objective</label>
      <span class="okr-form-col">
        <p class="dialog-data-show">{{ data.objectiveTitle }}</p>
      </span>
    </div>

    <form [formGroup]="completeForm">
      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col">Bewertung</label>
        <div class="okr-form-row mx-0">
          <button
            class="col successful valuation-card card-hover-successful"
            [ngClass]="{
              'active-successful': completeForm.value.isSuccessful === true,
              'non-active-successful': completeForm.value.isSuccessful === false,
            }"
            (click)="switchSuccessState('successful')"
            (keydown.enter)="switchSuccessState('successful')"
            [attr.data-testId]="'successful'"
            tabindex="0"
          >
            Objective erreicht
          </button>
          <button
            class="col not-successful valuation-card card-hover-not-successful"
            [ngClass]="{
              'active-not-successful': completeForm.value.isSuccessful === false,
              'non-active-not-successful': completeForm.value.isSuccessful === true,
            }"
            (click)="switchSuccessState('notSuccessful')"
            (keydown.enter)="switchSuccessState('notSuccessful')"
            [attr.data-testId]="'not-successful'"
            tabindex="0"
          >
            Objective nicht erreicht
          </button>
        </div>
      </div>

      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col" for="comment">Kommentar (optional)</label>
        <div class="okr-form-input">
          <textarea
            class="big-dialog-form-field"
            formControlName="comment"
            [attr.data-testId]="'completeComment'"
            [ngClass]="formInputCheck(completeForm, 'comment')"
            id="comment"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(completeForm, 'comment')">
            <span>{{ getErrorMessage("MAX_VALUE", "Kommentar", 4096) }}</span>
          </mat-error>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container actions>
    <div class="col-auto">
      <button
        [attr.data-testId]="'submit'"
        type="submit"
        (click)="closeDialog()"
        [disabled]="completeForm.invalid"
        color="primary"
        mat-flat-button
      >
        Objective abschliessen
      </button>
      <button
        color="primary"
        [attr.data-testId]="'cancel'"
        mat-button
        mat-dialog-close
      >Abbrechen</button>
    </div>
  </ng-container>
</app-dialog-template-core>
