<div
  (click)="$event.stopPropagation(); openDrawer()"
  (keydown.enter)="$event.stopPropagation(); openDrawer()"
  [attr.data-testId]="'key-result'"
  class="key-result rounded-2 p-3 w-100 focus-outline"
  tabindex="0"
>
  <h3 class="fw-normal linebreak mb-2">{{ keyResult.title }}</h3>
  <app-scoring [keyResult]="keyResult" [isDetail]="false" [attr.data-testId]="'scoring-component'"></app-scoring>
  <div class="d-flex justify-content-between mt-2">
    <div class="d-flex justify-content-center align-items-center flex-wrap">
      <h5 class="text-nowrap me-2">Letztes Check-in</h5>
      <span class="keyResult-attribute-show">{{
        keyResult.lastCheckIn == null ? "Keines" : (keyResult!.lastCheckIn!.createdOn | date: DATE_FORMAT)
      }}</span>
    </div>

    <div class="d-flex align-items-center flex-wrap justify-content-end keyResult-overview-attribute">
      <h5 class="me-2">Confidence</h5>
      <app-confidence
        [edit]="false"
        [isDetail]="false"
        [checkIn]="keyResult.lastCheckIn!"
        class="bg-keyResult-attribute"
      ></app-confidence>
    </div>
  </div>
</div>
