<div
  (click)="$event.stopPropagation(); openDrawer()"
  (keydown.enter)="$event.stopPropagation(); openDrawer()"
  [attr.data-testId]="'key-result'"
  class="key-result rounded-2 p-3 w-100 focus-outline"
  tabindex="0"
>
  <h3 class="linebreak mb-3">{{ keyResult.title }}</h3>
  <app-scoring
    [keyResult]="getKeyResultWithCorrectType()"
    [isDetail]="false"
    [attr.data-testId]="'scoring-component'"
  ></app-scoring>
  <div class="d-flex justify-content-between mt-2">
    <div class="d-flex justify-content-center align-items-center flex-wrap">
      <h4 class="text-nowrap me-2">Letztes Check-in</h4>
      <span class="key-result-attribute-show">{{
        getKeyResultWithCorrectType().lastCheckIn == null
          ? "Keines"
          : (getKeyResultWithCorrectType().lastCheckIn!.createdOn | date: DATE_FORMAT)
      }}</span>
    </div>

    <div class="d-flex align-items-center flex-wrap justify-content-end keyResult-overview-attribute">
      <h4 class="me-2">Confidence</h4>
      <app-confidence
        [edit]="false"
        [isDetail]="false"
        [checkIn]="getKeyResultWithCorrectType().lastCheckIn!"
        class="bg-keyResult-attribute"
      ></app-confidence>
    </div>
  </div>
</div>
