<div class="okr-form-row row-cols-2">
  <div class="col">
    <div class="okr-form-row okr-form-label-input-container">
      <label class="okr-form-label okr-form-col" for="value">Neuer Wert</label>
      <div class="col">
        <form [formGroup]="dialogForm" class="okr-form-row align-items-center">
          <div class="col">
            <input
              class="dialog-form-field pe-0"
              [attr.data-testId]="'check-in-metric-value'"
              [ngClass]="formInputCheck(dialogForm, 'value')"
              formControlName="value"
              id="value"
            />
          </div>

          <span class="okr-form-label col-auto h-fit ps-0">{{ generateUnitLabel() }}</span>
        </form>
      </div>
      <mat-error *ngIf="hasFormFieldErrors(dialogForm, 'value')">
        <span>{{ getErrorMessage("MUST_BE_NUMBER", "Neuer Wert") }}</span>
      </mat-error>
    </div>
  </div>

  <div class="col">
    <div *ngIf="getCheckInMetric() as metricCheckIn" class="okr-form-row okr-form-label-input-container">
      <label class="okr-form-label okr-form-col">Letzter Wert</label>
      <div class="okr-form-col text-black">
        <div class="dialog-data-show dialog-form-field py-2">{{ metricCheckIn.value }}{{ generateUnitLabel() }}</div>
      </div>
    </div>
  </div>
</div>
