.column-width {
  flex-grow: 1;
  min-width: 320px;
  max-width: 576px;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .team-title {
    padding-left: 31px;
  }
}
.team-actions {
  margin-bottom: 16px;
}

.team-icons {
  width: 20px;
  height: 20px;
}
