<div class="row w-auto bg-grey mt-4" *ngIf="overviewEntity | async as OVEntity">
  <div class="d-flex flex-row">
    <p class="team-title">{{ OVEntity.team.name }}</p>
    <mat-icon *ngIf="hasWriteAllAccess" (click)="openEditTeamDialog(OVEntity.team)" class="ms-2 mt-1 cursor-pointer"
      >edit</mat-icon
    >
  </div>
  <div class="d-flex justify-content-center">
    <div
      class="d-flex gap-3 row col-12 flex-wrap justify-content-sm-between justify-content-md-start pb-2"
      data-testid="objective-container"
    >
      <app-objective-column
        id="objective-column"
        *ngFor="let objective of OVEntity.objectives; trackBy: trackByFn"
        [objective]="objective"
        [isWritable]="OVEntity.team.writable"
        class="col-xs-12 col-md-4 p-0 column-width"
      ></app-objective-column>

      <button
        [attr.data-testId]="'add-objective'"
        *ngIf="OVEntity.team.writable"
        class="bg-white border border-1 border-pz-dark-blue column-width flex-nowrap col-xs-12 col-md-4 px-0 py-4"
        mat-stroked-button
        color="primary"
        (click)="createObjective()"
      >
        <span class="d-flex align-items-center justify-content-center fw-bold">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            class="text-pz-dark-blue"
            fontIcon="add"
          ></mat-icon>
          Objective hinzufügen
        </span>
      </button>
    </div>
  </div>
</div>
