.team-title {
  font-size: 1.5rem;
}

.column-width {
  flex-grow: 1;
  min-width: 320px;
  max-width: 500px;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .team-title {
    padding-left: 28px;
  }
}
