<app-dialog-template-core [title]="'Enheiten verwalten'">
  <ng-container content>
    <!--        <app-key-result-form [keyResultForm]="keyResultForm" [keyResult]="data.keyResult"></app-key-result-form>-->
  </ng-container>
  <ng-container actions>
    <div class="col-auto">
      <button
        [attr.data-testId]="'submit'"
        type="submit"
        (click)="saveUnits()"
        color="primary"
        mat-flat-button
      >
        Speichern
      </button>
      <button
        mat-button
        mat-dialog-close
        color="primary"
        [attr.data-testId]="'cancel'"
      >Abbrechen</button>
    </div>
  </ng-container>
</app-dialog-template-core>
