<mat-form-field appearance="outline" class="bg-white header-form-field quarter-filter w-100" subscriptSizing="dynamic">
  <mat-select
    (ngModelChange)="changeDisplayedQuarter()"
    [(ngModel)]="quarterId"
    [attr.data-testId]="'quarterFilter'"
    [panelClass]="'custom-select-panel'"
    class="w-100"
    ngDefaultControl
  >
    <mat-option *ngFor="let quarter of quarters | async; let i = index" [value]="quarter.id" class="w-100">
      {{ getQuarterLabel(quarter, i) }}
    </mat-option>
  </mat-select>
</mat-form-field>
