.objective {
  display: flex;
  width: 321px;
  flex-direction: column;
  border-radius: 8px;
  align-items: flex-start;
  padding: 0px 20px 20px 0px;
  margin-left: 16px;
  box-shadow: 0 0 0 0;
}

.objective:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.06), 1px 1px 2px 0 rgba(0, 0, 0, 0.06), 3px 3px 4px 0 rgba(0, 0, 0, 0.05),
    8px 6px 6px 0 rgba(0, 0, 0, 0.03), 14px 11px 7px 0 rgba(0, 0, 0, 0.01), 21px 18px 8px 0 rgba(0, 0, 0, 0);
}

.objective-title {
  flex: 1 0 0;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 217px;
  word-wrap: break-word;
  margin-bottom: 13px;
}

.add-key-result-text {
  color: #1e5a96;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.add-key-result-anchor {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
  width: max-content;
}

.objective-container {
  display: flex;
  margin-left: 20%;
  margin-top: 100px;
}

.objective-header {
  width: 281px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.title-status {
  display: flex;
}

.status-indicator {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.three-dot-menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.key-result-card {
  display: flex;
  padding: 18px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  width: 281px;
  border-radius: 4px;
  border: 1px solid #5d6974;
  background: #e5e8eb;
  margin-left: 20px;
  margin-bottom: 13px;
}

.key-result-card:hover {
  background: #f7f8f9;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 2px 1px 5px 0px rgba(0, 0, 0, 0.1),
    8px 5px 9px 0px rgba(0, 0, 0, 0.09), 18px 11px 13px 0px rgba(0, 0, 0, 0.05), 32px 19px 15px 0px rgba(0, 0, 0, 0.01),
    51px 29px 16px 0px rgba(0, 0, 0, 0);
}
