<div class="objective-container">
  <mat-card class="objective">
    <mat-card-header class="objective-header">
      <div class="title-status">
        <img class="status-indicator" src="/assets/blue-status-indicator.svg" alt="Blue status indicator" />
        <mat-card-title class="objective-title">Test</mat-card-title>
      </div>
      <div>
        <img src="/assets/blue-status-indicator.svg" />
      </div>
    </mat-card-header>
    <mat-card-content>
      <a class="add-key-result-anchor">
        <img src="assets/add-icon-blue.svg" alt="Add key-result button" />
        <p class="add-key-result-text">Key Result Hinzufügen</p>
      </a>
    </mat-card-content>
  </mat-card>
</div>
