<mat-card class="objective">
  <img src="assets/objective-indicator.svg" alt="An indicator that indicates, that this is an objective" />
  <header class="objective-header">
    <div class="title-status">
      <img
        [attr.data-testId]="'status-light'"
        class="status-indicator"
        src="{{ getCorrectStateSrc() }}"
        alt="A status indicator that indicates the progress and state of this objective"
      />
      <mat-card-title class="objective-title">{{ objectiveTitle }}</mat-card-title>
    </div>
    <div>
      <img
        [matMenuTriggerFor]="objectiveMenu"
        class="three-dot-menu"
        src="/assets/three-dot-menu.svg"
        alt="Blue status indicator"
      />
    </div>
  </header>
  <mat-card-content>
    <mat-card class="key-result-card" *ngFor="let keyResult of keyResults">
      <header>
        <mat-card-title>Some Text</mat-card-title>
      </header>
      <mat-card-content> Some more text...</mat-card-content>
    </mat-card>
    <a class="add-key-result-anchor">
      <img src="/assets/add-icon-blue.svg" alt="Add key-result button" />
      <p class="add-key-result-and-add-objective-text">Key Result hinzufügen</p>
    </a>
  </mat-card-content>
</mat-card>
<mat-menu #objectiveMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item class="objective-menu-option" (click)="buttonDemo()">Objective bearbeiten</button>
  <button mat-menu-item class="objective-menu-option" (click)="buttonDemo()">Objective duplizieren</button>
  <button mat-menu-item class="objective-menu-option" (click)="buttonDemo()">Objective abschliessen</button>
  <button mat-menu-item class="objective-menu-option" (click)="buttonDemo()">Objective freigeben</button>
</mat-menu>
