@import "../../../style/_variables.scss";

:host {
  width: 100%;
  display: flex;
  justify-content: center;

  > div {
    width: 300px;

    > mat-nav-list {
      padding: 0;

      background-color: $light-grey;

      .selected {
        background-color: $pz-dark-blue;

        ::ng-deep .mdc-list-item__primary-text {
          color: white;
        }
      }

      a {
        cursor: pointer;
      }
    }
  }
}
