@import "../style/variables";

.overview-container {
  overflow-x: hidden;
  background-color: $overview-bg;
  transition: 0.5s;
}

.bottom-shadow-space {
  padding-bottom: 4rem;
}

.puzzle-logo {
  filter: invert(38%) sepia(31%) saturate(216%) hue-rotate(167deg) brightness(96%) contrast(85%);
}
