<form [formGroup]="dialogForm">
  <div class="input-style gap-2 col-12">
    <label class="text-black">Erreichte Zone wählen:</label>
    <mat-radio-group formControlName="value" class="d-flex flex-column gap-2">
      <mat-radio-button [attr.data-testId]="'fail-radio'" value="{{ Zone.FAIL }}" class="ordinal-zone">
        <div class="radio-text-container d-flex align-items-center p-3 text-black">
          <b>Fail:&nbsp;&nbsp; </b>Commit / Target / Stretch noch nicht erreicht
        </div>
      </mat-radio-button>
      <mat-radio-button [attr.data-testId]="'commit-radio'" value="{{ Zone.COMMIT }}" class="ordinal-zone">
        <div class="radio-text-container d-flex p-3">
          <p class="text-black"><b>Commit:&nbsp; </b> {{ keyResult.commitZone }}</p>
        </div>
      </mat-radio-button>
      <mat-radio-button [attr.data-testId]="'target-radio'" value="{{ Zone.TARGET }}" class="ordinal-zone">
        <div class="radio-text-container d-flex p-3 w-100">
          <p class="text-black"><b>Target:&nbsp; </b>{{ keyResult.targetZone }}</p>
        </div>
      </mat-radio-button>
      <mat-radio-button [attr.data-testId]="'stretch-radio'" value="{{ Zone.STRETCH }}" class="ordinal-zone">
        <div class="radio-text-container d-flex p-3">
          <p class="text-black"><b>Stretch:&nbsp; </b>{{ keyResult.stretchZone }}</p>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</form>
