@use 'variables';

.submit {
  background-color: variables.$pz-dark-blue;
  border-radius: 8px;
}

.cancel {
  background-color: white;
  color: variables.$pz-dark-blue;
}

span {
  color: black;
}
mat-label {
  color: black;
}
.radio-text-container {
  background: variables.$display-element;
  height: auto;
}
