<form [formGroup]="dialogForm">
  <div class="okr-form-row okr-form-label-input-container">
    <label class="okr-form-label okr-form-col" for="ordinal-radio-group">Erreichte Zone wählen:</label>
    <mat-radio-group
      formControlName="value"
      class="d-flex flex-column gap-2"
      id="ordinal-radio-group"
    >
      <mat-radio-button
        [attr.data-testId]="'fail-radio'"
        value="{{ Zone.FAIL }}"
        class="ordinal-zone"
      >
        <div class="radio-text-container d-flex align-items-center p-3 text-black">
          <strong>Fail:&nbsp;</strong> Commit / Target / Stretch noch nicht erreicht
        </div>
      </mat-radio-button>

      <mat-radio-button
        [attr.data-testId]="'commit-radio'"
        value="{{ Zone.COMMIT }}"
        class="ordinal-zone"
      >
        <div class="radio-text-container d-flex p-3">
          <span class="text-black"><strong>Commit:&nbsp;</strong>{{ keyResult.commitZone }}</span>
        </div>
      </mat-radio-button>

      <mat-radio-button
        [attr.data-testId]="'target-radio'"
        value="{{ Zone.TARGET }}"
        class="ordinal-zone"
      >
        <div class="radio-text-container d-flex p-3 w-100">
          <span class="text-black"><strong>Target:&nbsp;</strong>{{ keyResult.targetZone }}</span>
        </div>
      </mat-radio-button>

      <mat-radio-button
        [attr.data-testId]="'stretch-radio'"
        value="{{ Zone.STRETCH }}"
        class="ordinal-zone"
      >
        <div class="radio-text-container d-flex p-3">
          <span class="text-black"><strong>Stretch:&nbsp;</strong>{{ keyResult.stretchZone }}</span>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</form>
