<label class="text-black">Action Plan (optional)</label>

<div
  cdkDropList
  #todoList="cdkDropList"
  [cdkDropListData]="actionPointsText"
  class="action-points-list d-flex flex-column gap-2"
  (cdkDropListDropped)="drop($event)"
>
  <div class="action-point-item" *ngFor="let action of actionPointsText; index as i" cdkDrag>
    <div class="drag-drop-dots">
      <img class="icons" src="../assets/icons/drag_indicator.svg" alt="Drag indicator" />
    </div>
    <input class="action-input" type="text" [value]="action" (change)="changeActionText($event, i)" />
    <img class="icons bin-icon" src="../assets/icons/delete-icon.svg" alt="Delete bin" />
  </div>
</div>

<section class="py-3">
  <button mat-button color="primary" class="fw-bold" (click)="addNewAction()">
    <img src="assets/icons/new-icon.svg" alt="Add key-result button" />
    Weitere Zeile hinzufügen
  </button>
</section>
