<label class="text-black">Action Plan (optional)</label>

<div
  *ngIf="control?.getValue()"
  cdkDropList
  [cdkDropListData]="control | async"
  class="action-points-list d-flex flex-column gap-2"
  (cdkDropListDropped)="drop($event)"
>
  <div class="action-point-item" *ngFor="let action of (control | async)!; index as i" cdkDrag>
    <div class="drag-drop-dots">
      <img class="icons" src="../assets/icons/drag_indicator.svg" alt="Drag indicator" />
    </div>
    <input
      class="action-input"
      type="text"
      [value]="action.action"
      (change)="changeActionText($event, i)"
      [attr.data-testId]="'actionInput'"
    />
    <img
      class="icons bin-icon cursor-pointer"
      src="../assets/icons/delete-icon.svg"
      alt="Delete bin"
      (click)="removeAction(i)"
    />
  </div>
</div>

<section class="py-3">
  <button
    mat-button
    color="primary"
    class="fw-bold"
    (click)="addNewAction()"
    [attr.data-testId]="'add-action-plan-line'"
  >
    <img src="assets/icons/new-icon.svg" alt="Add key-result button" />
    Weitere Action hinzufügen
  </button>
</section>
