.okr-label {
  margin-left: 35px;
}

.overview-item {
  margin-right: 20px;
  margin-left: 50px;
}

//#drawer-container {
//  z-index: auto;
//}

//.fixed-position {
//  position: fixed;
//  width: 100%;
//  z-index: 101;
//}

mat-drawer {
  position: relative;
  z-index: 101;
}

mat-drawer-container {
  position: relative;
  z-index: auto;
}

.backdrop {
  position: fixed !important;
  filter: brightness(68%);
}
