<div>
  <app-application-header></app-application-header>
  <div *ngIf="isEnvStaging$ | async" class="staging-banner">
    <div class="staging-text">STAGING ENVIRONMENT!</div>
  </div>

  <mat-drawer-container id="drawer-container" hasBackdrop="true">
    <mat-drawer
      data-test-id="mat-drawer"
      class="mt-5 position-fixed w-25 p-3"
      mode="over"
      (keydown.escape)="closeDrawer()"
      (keydown.enter)="closeDrawer()"
      (keydown.space)="closeDrawer()"
      (closedStart)="closeDrawer()"
      (closed)="enableScrolling()"
      [(opened)]="drawerOpen"
      position="end"
    >
      <app-objective-detail
        *ngIf="objective != undefined"
        [objective]="objective"
        (close)="closeDrawer()"
      ></app-objective-detail>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
