@import "_variables";

.okr-label {
  margin-left: 35px;
}

.overview-item {
  margin-right: 20px;
  margin-left: 50px;
}

.mt-header-height {
  padding-top: $header-height;
  background-color: $overview-bg;
}

app-application-top-bar {
  z-index: 1001;
  position: relative;
}
