.teamlist-container {
  margin: 50px 50px 0 50px;
}

.headline-large {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 50px;
}

.team-name {
  margin: 0 0 0 10px;
  font-weight: 400;
  font-size: 16px;
}

.team-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.team-row {
  margin-bottom: 30px;
}

.edit-icon {
  margin-left: 360px;
  height: 20px;
  width: 20px;
}

.delete-icon {
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.divider {
  color: black;
  width: 500px;
}

.title-create-button {
  display: flex;
  flex-direction: row;
}

.create-button {
  margin-top: 5px;
  margin-left: 30px;
  height: 40px;
  border-radius: 20px;
}

.add-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: 3px;
}
