.keyresult-overview-container {
  margin: 50px 50px 0 50px;
}

.headline-large {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 10px;
}

.key-result-overview-text {
  margin-left: 20px;
  width: 50%;
}

.keyresult-detail {
  margin-left: 70px;
}

.divider {
  color: black;
  width: 95%;
  margin: 20px 25px 20px 25px;
}
