<form class="d-flex search-form" (ngSubmit)="refresh.next()">
  <mat-form-field
    id="objective-form-field"
    class="bg-white header-form-field"
    ngDefaultControl
    subscriptSizing="dynamic"
    [appearance]="'outline'"
  >
    <input
      matInput
      class="w-100"
      [type]="'text'"
      [placeholder]="'Nach Objectives suchen'"
      [(ngModel)]="query"
      (input)="refresh.next()"
      [ngModelOptions]="{ standalone: true }"
      [attr.data-testId]="'objectiveSearch'"
    />
  </mat-form-field>

  <button
    class="bg-pz-dark-blue d-flex justify-content-start align-items-center icon-button px-3 focus-outline"
    type="submit"
    aria-label="Search Objectives"
  >
    <img
      src="../assets/icons/search-icon.svg"
      alt="search icon"
      class="text-white search-scale"
    />
  </button>
</form>
