<div class="d-flex  justify-content-center">
  <div class="row row-cols-auto d-flex justify-content-center flex-column align-items-center">
    <div class="chart-wrapper d-flex flex-column justify-content-end">
      <div class="d-flex justify-content-center">
        <span class="small-text">{{ topContent }}</span>
      </div>
      <div
        *ngIf="(chartColor ?? false) && (chartValue ?? false)"
        class="w-100"
        [style]="{ backgroundColor: chartColor, height: chartValue| percent}"
      ></div>
    </div>

    <div class="py-2 px-3 bg-white h2">
      <ng-content></ng-content>
    </div>
    <span class="small-text">{{bottomContent}}</span>
  </div>
</div>
