.max-content {
  width: max-content;
}

.fit-content {
  width: fit-content;
}

.form-field-width {
  width: 15em;
}

.form-field-height {
  height: 5em;
}

.title {
  margin-left: 30%;
  margin-bottom: 4vh;
}

.detail {
  margin-top: 5vh;
}

.center {
  margin-left: 22%;
}

.back-btn {
  cursor: pointer;
}
