<div class="d-flex w-100" [formGroup]="userFormGroup">
  <div class="equal-sized-col">
    <div class="input-style">
      @if (index === 0) {
        <label [for]="'first-name-col-' + index">Vorname&nbsp;*</label>
      }
      <input
        type="text"
        class="value-field dialog-form-field"
        formControlName="firstName"
        #firstInput
        [id]="'first-name-col-' + index"
        [name]="'first-name-col-' + index"
        [attr.data-testId]="'new-member-first-name'"
      />
      <mat-error>
        @if (firstName.errors?.["required"] && triedToSubmit) {
          <span>Angabe benötigt</span>
        }
      </mat-error>
    </div>
  </div>
  <div class="equal-sized-col">
    <div class="input-style equal-sized-col">
      @if (index === 0) {
        <label [for]="'last-name-col-' + index">Nachname&nbsp;*</label>
      }
      <input
        type="text"
        [id]="'last-name-col-' + index"
        [name]="'last-name-col-' + index"
        class="value-field dialog-form-field"
        formControlName="lastName"
        [attr.data-testId]="'new-member-last-name'"
      />
      <mat-error>
        @if (lastName.errors?.["required"] && triedToSubmit) {
          <span>Angabe benötigt</span>
        }
      </mat-error>
    </div>
  </div>
  <div class="email equal-sized-col">
    <div class="input-style equal-sized-col">
      @if (index === 0) {
        <label [for]="'email-col_' + index">E-Mail&nbsp;*</label>
      }
      <input
        type="email"
        [id]="'email-col_' + index"
        [attr.data-testId]="'email-col_' + index"
        [name]="'email-col_' + index"
        class="value-field dialog-form-field"
        formControlName="email"
      />
      <mat-error>
        @if (email.errors?.["required"] && triedToSubmit) {
          <span>Angabe benötigt</span>
        } @else if (email.errors?.["notUniqueMail"]) {
          <span>E-Mail existiert bereits</span>
        } @else if (email.errors?.["email"] && triedToSubmit) {
          <span>E-Mail ungültig</span>
        }
      </mat-error>
    </div>
  </div>
  <div class="remove">
    <div class="input-style equal-sized-col dialog-form-field">
      @if (index === 0) {
        <label [for]="'delete-col-' + index">&nbsp;</label>
      }
      <app-puzzle-icon-button
        (click)="remove()"
        [id]="'delete-col-' + index"
        icon="delete-icon.svg"
        alt="Remove User Icon"
      ></app-puzzle-icon-button>
    </div>
  </div>
</div>
