<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 okr-table">
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon>person_outline</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="getMemberDetailsLink(element, selectedTeam$.value)">
        {{ element.firstname }} {{ element.lastname }}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef>Rolle</th>
    <td mat-cell *matCellDef="let element">{{ element.roles | roles }}</td>
  </ng-container>

  <ng-container matColumnDef="teams">
    <th mat-header-cell *matHeaderCellDef>Teams</th>
    <td mat-cell *matCellDef="let element" [title]="element.teams | teams: undefined">
      {{ element.teams | teams: 2 }}
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        [attr.data-testId]="'remove-from-member-list'"
        (click)="removeMemberFromTeam(element, $event)"
        mat-icon-button
      >
        <mat-icon class="d-flex justify-content-center align-items-center"> delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    class="cursor-pointer"
    [routerLink]="getMemberDetailsLink(row, selectedTeam$.value)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Keine Members</td>
  </tr>
</table>
