<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 okr-table">
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <app-puzzle-icon icon="person-icon.svg" alt="Member Icon"></app-puzzle-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="getMemberDetailsLink(element, selectedTeam$.value)">
        {{ element.firstname }} {{ element.lastname }}
      </a>
    </td>
  </ng-container>

  <!--  all roles for all teams view-->
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef>Rolle</th>
    <td mat-cell *matCellDef="let element">{{ element.roles | roles }}</td>
  </ng-container>

  <!--  single role with edit for team view-->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Rolle</th>
    <td mat-cell *matCellDef="let element">
      <app-show-edit-role
        *ngIf="element.userTeamList.length"
        [userTeam]="getSingleUserTeam(element)"
        (save)="saveUserTeamMembership($event, element, getSingleUserTeam(element))"
      ></app-show-edit-role>
    </td>
  </ng-container>

  <ng-container matColumnDef="teams">
    <th mat-header-cell *matHeaderCellDef>Teams</th>
    <td mat-cell *matCellDef="let element" [title]="element.teams | teams: undefined">
      {{ element.teams | teams: 2 }}
    </td>
  </ng-container>

  <ng-container matColumnDef="okr_champion">
    <th mat-header-cell *matHeaderCellDef>OKR Champion</th>
    <td mat-cell *matCellDef="let element">
      {{ element.isOkrChampion | okrChampion }}
    </td>
  </ng-container>

  <ng-container matColumnDef="menu">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="menu" *ngIf="selectedTeam$.value?.writeable">
        <app-puzzle-icon-button
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="userMenu"
          [attr.data-testId]="'member-list-more'"
          icon="three-dot-menu-icon.svg"
          alt="More Icon"
        >
        </app-puzzle-icon-button>
        <mat-menu #userMenu="matMenu">
          <button
            (click)="removeMemberFromTeam(element, $event)"
            mat-menu-item
            [attr.data-testId]="'remove-from-member-list'"
          >
            <app-puzzle-icon icon="delete-icon.svg" alt="Remove Icon"></app-puzzle-icon>
            <span class="font-size-14">Member entfernen</span>
          </button>
        </mat-menu>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    class="cursor-pointer"
    [routerLink]="getMemberDetailsLink(row, selectedTeam$.value)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell px-2" [attr.colspan]="displayedColumns.length">Keine Members</td>
  </tr>
</table>
