.active {
  border-left: #909090 1px solid;
  border-top: #909090 1px solid;
  border-right: #909090 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  color: black;
}

.non-active {
  color: #9c9c9c;
  border-bottom: #909090 1px solid;
}

.tab-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  margin-bottom: 16px;
}

.buffer {
  border-bottom: #909090 1px solid;
}

.tabfocus {
  outline: none;
  &:focus-visible {
    border-radius: 5px;
    border: 2px solid #1a4e83;
  }
}

.metric {
  width: 87px;
}

.ordinal {
  width: 75px;
}

.ordinal-input-fields {
  height: 4.3rem;
  padding: 0.437rem 0.625rem 0.375rem 0.625rem !important;
}

.metric-fields {
  height: 2rem;
  padding: 0.437rem 0.625rem 0.375rem 0.625rem !important;
}

.input-style {
  width: 31%;
}

.unit-dropdown {
  @extend .metric-fields;
  border: solid 1px #909090;
  cursor: pointer;
}

@media only screen and (min-width: 820px) {
  .input-alignments {
    display: flex;
    justify-content: space-between;
  }

  .input-style {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 820px) {
  .metric-fields {
    width: 100%;
  }

  .ordinal-input-fields {
    width: 100%;
  }

  .input-style {
    width: auto;
  }
}
