.keyresult-type-label {
  display: inline-grid;
}

.active {
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  border-right: #ddd 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  color: black;
}

.non-active {
  color: #9c9c9c;
  border-bottom: #ddd 1px solid;
  padding-left: 12px;
}

.tab-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
}

.metric {
  width: 87px;
  cursor: pointer;
}

.ordinal {
  width: 75px;
  cursor: pointer;
}

.buffer {
  border-bottom: #ddd 1px solid;
}
