
<mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Metrisch">
    <div class="flex-fill">
      <div>
        <span class="keyresult-type-label">
          <span class="text-center text-small">Einheit</span>
        </span>
        <span class="keyresult-type-label">
          <span class="text-center text-small">Baseline</span>
        </span>
        <span class="keyresult-type-label">
          <span class="text-center text-small">Stretch Goal</span>
        </span>
        <span class="keyresult-type-label">
          <span class="text-center text-small">Owner</span>
        </span>
      </div>
      <div>
        <div>
          <mat-form-field>
            <mat-label>Choose an option</mat-label>
            <mat-select>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field><input matInput></mat-form-field>
        </div>
        <div>
          <mat-form-field><input matInput></mat-form-field>
        </div>
        <div>
          <mat-form-field><input matInput></mat-form-field>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Ordinal">Content 2</mat-tab>
</mat-tab-group>
