<section mat-dialog-title>
  <div class="d-flex justify-content-between align-items-center position-relative dialog-header mt-1">
    <span class="title w-100 mb-2">
      <span>Members registrieren</span>
    </span>
  </div>
</section>
<mat-dialog-content>
  <div class="dialog-content" tabindex="-1">
    <form>
      @for (userFormGroup of form.controls; track $index) {
        <div class="w-100 d-flex justify-content-between align-items-center pe-4">
          <app-new-user (removeUser)="removeUser($index)" [index]="$index" [userFormGroup]="userFormGroup" [triedToSubmit]="triedToSubmit"></app-new-user>
        </div>
      }
      <div class="w-100 d-flex justify-content-start">
        <button (click)="addUser()" class="px-0 mb-3 pe-2 align-new-icon" color="primary" mat-button>
          <span class="d-flex align-items-center fw-bold add-text">
            <img alt="Add User button" class="add-cross-button" src="/assets/icons/new-icon.svg" />
            Weiterer Member hinzufügen
          </span>
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="d-flex justify-content-between p-0 mt-2" mat-dialog-actions>
    <div class="d-flex p-0">
      <button
        color="primary"
        [attr.data-testId]="'invite'"
        mat-flat-button
        type="submit"
        (click)="registerUsers()"
      >
        Einladen
      </button>
      <button color="primary" mat-button mat-dialog-close class="ms-2">Abbrechen</button>
    </div>
  </div>
</mat-dialog-actions>
