<section mat-dialog-title>
  <app-dialog-header [dialogTitle]="this.data.dialogTitle"></app-dialog-header>
</section>

<mat-dialog-content>
  @if (data.dialogText) {
    <div class="mb-3">
      <span class="dialog-text">{{ this.data.dialogText }}</span>
    </div>
  }

  @if (data.dialogDetails) {
    <ul>
      @for (item of this.data.dialogDetails; track $index) {
        <div class="mb-3">
          <li>
            <span class="dialog-text">{{ item }}</span>
          </li>
        </div>
      }
    </ul>
  }
</mat-dialog-content>

<mat-dialog-actions class="m-0">
  <button color="primary" [attr.data-testId]="'alertDialog-confirm'" (click)="closeDialog()" mat-flat-button>
    Schliessen
  </button>
</mat-dialog-actions>
