<div>
  <div class="d-flex">
    <div class="active metric tab-title">Metrisch</div>
    <div class="non-active ordinal tab-title">Ordinal</div>
    <div class="buffer tab-title"></div>
  </div>
</div>

<!--<div>-->
<!--  <div class="d-flex">-->
<!--    <div>-->
<!--      <div class="nonactive metric">-->
<!--      <span>-->
<!--        Metrisch-->
<!--      </span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="active ordinal">-->
<!--    <span>-->
<!--      Ordinal-->
<!--    </span>-->
<!--    </div>-->
<!--    <div class="buffer">-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="space">-->
<!--  </div>-->
<!--</div>-->
