.heading-label {
  margin-left: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 28px;
}

.w-35 {
  width: 35%;
}

.w-15 {
  width: 15%;
}

.w-65 {
  width: 65%;
}

.w-55 {
  width: 55%;
}

.w-40 {
  width: 40%;
}

.w-10 {
  width: 10%;
}

.measure-date {
  margin-left: 150px;
}

.measureValue {
  margin-left: 120%;
}

.measureMeasureDate {
  margin-left: 32%;
}

.measureChangeinfo {
  margin-left: 16%;
}

.measureInitiatives {
  margin-left: 14%;
}

.edit-icon {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.measure-card {
  margin-bottom: 15px;
}
