.heading-label {
  margin: 30px 0 30px 10px;
  font-weight: 400;
  font-size: 28px;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-40 {
  width: 40%;
}

.w-55 {
  width: 55%;
}

.measure-date-title {
  margin-left: 150px;
}

.measureValue {
  margin-top: 16px;
  margin-left: 85%;
}

.measureDate {
  margin-top: 16px;
  margin-left: 20%;
}

.measureChangeinfo {
  margin-top: 16px;
  margin-left: 15%;
}

.measureInitiatives {
  margin-top: 16px;
  margin-left: 15%;
}

.edit-icon {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.measure-card {
  margin-bottom: 15px;
}

.titles {
  margin-top: 30px;
}
