<div id="top-bar-height">
  <div id="okr-top-bar">
    <a
      routerLink="/"
      queryParamsHandling="preserve"
      class="d-flex h-100 align-items-center ps-4"

    >  <img
        [attr.data-testId]="'logo'"
        alt="okr-logo"
        height="32"
        src="{{ this.logoSrc$ | async }}"
        priority
      />
    </a>
    <div class="d-flex align-items-center me-md-5 me-1">
      <button
        routerLink="team-management"
        [attr.data-testId]="'team-management'"
        class="top-bar-entry btn visible-by-default"
        queryParamsHandling="preserve"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Group icon"
          fontIcon="group"
        ></mat-icon>
        <span class="d-none d-md-flex">Teamverwaltung </span>
      </button>

      <button
        *ngIf="this.helpSiteUrl | async as helpSiteUrl"
        id="help-button"
        class="top-bar-entry btn"
        [attr.data-testId]="'help-button'"
        (click)="window.open(helpSiteUrl, '_blank')"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Help icon"
          fontIcon="help_outline"
        ></mat-icon>
        <span class="d-none d-md-flex"> Hilfe </span>
      </button>

      <button
        (menuClosed)="menuIsOpen = false"
        (menuOpened)="menuIsOpen = true"
        [attr.data-testId]="'user-options'"
        [matMenuTriggerFor]="menu"
        class="top-bar-entry flex-nowrap btn"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="person icon"
          fontIcon="person_outline"
          id="top-bar-user"
        ></mat-icon>
        <span [attr.data-testId]="'username'" class="fw-normal fs-6 d-none d-md-flex">{{ userFullName }}</span>
        <mat-icon *ngIf="!menuIsOpen">expand_more</mat-icon>
        <mat-icon *ngIf="menuIsOpen">expand_less</mat-icon>
      </button>
    </div>

    <mat-menu
      #menu="matMenu"
      xPosition="before"
      yPosition="below"
    >
      <button
        (click)="logOut()"
        [attr.data-testId]="'logout'"
        class="py-2"
        mat-menu-item
      >
        <mat-icon class="scale-9">exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
