<button mat-stroked-button color="primary" (click)="routeService.navigate('objectives/edit/' + this.objective.id)">
  Objective bearbeiten
</button>
<div class="d-flex, justify-content-around">
  <p calss="objective-cycle" data-testid="objective-detail-quarter">
    <span class="key">Zyklus </span>
    <span class="value"> {{ this.objective.quarterLabel }}</span>
  </p>

  <p calss="objective-owner" data-testid="objective-detail-owner">
    <span class="key">Objective Besitzer </span>
    <span class="value"> {{ this.objective.ownerFirstname }} {{ this.objective.ownerLastname }}</span>
  </p>
</div>
<div class="d-flex flex-row">
  <div class="w-35 d-flex objective-results">
    <span class="key table-title keyresult-tabletitel">Key Result</span>
  </div>
  <div class="w-65 d-flex flex-row">
    <div class="w-25">
      <span class="owner key d-flex table-title flex-column">Besitzer</span>
    </div>
    <div class="w-25">
      <span class="key d-flex table-title flex-column">Letzte Messung</span>
    </div>
    <div class="w-50 progress-box">
      <span class="key d-flex table-title flex-column">Zielerreichung</span>
    </div>
  </div>
</div>
