<mat-form-field
  appearance="outline"
  class="bg-white header-form-field quarter-filter quarter-filter-text"
  subscriptSizing="dynamic"
>
  <mat-select
    [(ngModel)]="currentQuarterId"
    (ngModelChange)="changeDisplayedQuarter()"
    [attr.data-testId]="'quarter-filter'"
    ngDefaultControl
  >
    <ng-container *ngFor="let quarter of quarters | async">
      <mat-option *ngIf="quarter.isBacklogQuarter && showBacklog || !quarter.isBacklogQuarter" [value]="quarter.id">
        {{ quarter.fullLabel() }}
      </mat-option>
    </ng-container>

  </mat-select>
</mat-form-field>
