<mat-form-field
  appearance="outline"
  class="bg-white header-form-field quarter-filter quarter-filter-text"
  subscriptSizing="dynamic"
>
  <mat-select
    [(ngModel)]="currentQuarterId"
    (ngModelChange)="changeDisplayedQuarter()"
    [attr.data-testId]="'quarter-filter'"
    ngDefaultControl
  >
    @for (quarter of quarters | async; track quarter) {
    @if (quarter.isBacklogQuarter && showBacklog || !quarter.isBacklogQuarter) {
    <mat-option [value]="quarter.id">
      {{ quarter.fullLabel() }}
    </mat-option>
    }
    }

  </mat-select>
</mat-form-field>
