<form class="d-flex search-form">
  <mat-form-field
    id="search-member-form-field"
    class="bg-white header-form-field"
    ngDefaultControl
    subscriptSizing="dynamic"
    appearance="outline"
  >
    <input
      matInput
      type="text"
      placeholder="Nach Team oder Member suchen"
      [attr.data-testId]="'teamManagementSearch'"
    />
  </mat-form-field>
  <button
    class="bg-pz-dark-blue d-flex justify-content-center align-items-center icon-button px-3 focus-outline"
    type="submit"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search" class="text-white"></mat-icon>
  </button>
</form>
