@use 'sass:color';
//Get color palette for color https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors

$pz-dark-blue: #1e5a96;
$error: #ba3838;
$eggshell: #f6f7f8;

$light-grey: #f8f8f8;
$soft-grey: #f5f5f5;
$dark-grey: #e5e8eb;
$dark-grey-border: #5d6974;

$top-bar-height: 48px;

$key-result-attribute-bg: #ffffff;
$key-result-attribute-edit-border: #ddddddff;

$error-color: #b3261b;
$display-element: #f5f5f5;

$dialog-action-buttons-div-height: 52px;
$dialog-content-padding-y: 20px;

$pz-dark-blue-palette: (
  50: color.adjust($pz-dark-blue, $lightness: 50%),
  100: color.adjust($pz-dark-blue, $lightness: 40%),
  200: color.adjust($pz-dark-blue, $lightness: 30%),
  300: color.adjust($pz-dark-blue, $lightness: 20%),
  400: color.adjust($pz-dark-blue, $lightness: 10%),
  500: $pz-dark-blue,
  600: color.adjust($pz-dark-blue, $lightness: -10%),
  700: color.adjust($pz-dark-blue, $lightness: -20%),
  800: color.adjust($pz-dark-blue, $lightness: -30%),
  900: color.adjust($pz-dark-blue, $lightness: -40%),
  1000: color.adjust($pz-dark-blue, $lightness: -50%),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

:root {
  --mdc-text-button-label-text-tracking: normal;
  --mdc-filled-button-label-text-tracking: normal;
  --mdc-outlined-button-label-text-tracking: normal;
  --mat-dialog-headline-padding: 0 0 0 12px;
  --mat-dialog-actions-padding: 0 12px 0 12px;
  --mat-dialog-with-actions-content-padding: #{$dialog-content-padding-y} 12px;
  --okr-topbar-background-color: #1e5a96;
  --okr-banner-background-color: #dcedf9;
  --okr-overview-background-color: #ffffff;
  --okr-team-header-color: #000000;
  --okr-add-objective-text-color: #1e5a96;
  --okr-add-objective-outline-color: none;
}
