@use "@angular/material" as mat;
@import "_variables";
@import "custom_angular.components";

$my-primary: mat.define-palette($pz-dark-blue-palette, 500);
$my-accent: mat.define-palette(mat.$grey-palette, 900);
$my-warn: mat.define-palette(mat.$red-palette);

$pz-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.all-component-themes($pz-theme);

.header-form-field {
  @include mat.private-form-field-density(-4);
  border-radius: 5px;
}
