@import "variables";

.mdc-button {
  border-radius: 0.5rem !important;
  letter-spacing: normal;
  &.mat-mdc-unelevated-button {
    font-weight: bold !important;
  }

  img {
    width: 2rem;
  }
}

.mat-mdc-menu-item.objective-menu-option {
  line-height: normal !important;
  font-size: 1rem;
  height: 2rem !important;
  min-height: 0 !important;
  &:hover {
    padding-left: 0.75rem;
    border-left: 0.25rem solid darkblue;
    background-color: #eff7ff !important;
  }
}

.mat-icon {
  transform: scale(1.2);
}

.mat-mdc-standard-chip {
  margin: 0 !important;
  &:not(.mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary) {
    --mdc-chip-elevated-container-color: #ffffffff !important;
  }
}
.mdc-evolution-chip-set__chips {
  display: flex !important;
  gap: 5px !important;
  margin-left: 1px !important;
}

.mdc-evolution-chip__action {
  cursor: pointer !important;
}

.cdk-overlay-backdrop.cdk-overlay-dark-backdrop.cdk-overlay-backdrop-showing {
  margin-top: $top-bar-height;
}

$scale-start: 0.5;
$scale-end: 2;
$scale-gap: 0.1;

@for $i from calc($scale-start / $scale-gap) through calc($scale-end / $scale-gap) {
  $scale-value: $i * $scale-gap;
  $selector: ".scale-#{$scale-value * 10}";

  #{$selector} {
    transform: scale(#{$scale-value});
  }
}
