@import "custom_angular";
@import "_variables";
@import "custom_bootstrap";
@import "fonts/Roboto";
@import "fonts/MaterialIcons";

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 100%;
  height: 100%;
  margin: 0;
  background-color: $overview-bg;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.staging-banner {
  display: flex;
  margin-top: 1rem;
  background-color: cadetblue;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
}

.staging-text {
  color: black;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 5rem;
}

//Applied since all menus have the same styling
.mat-mdc-menu-panel {
  border-radius: 0.5rem !important;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  word-wrap: break-word;
}

.sub-title {
  font-size: 8px;
}

.anchor {
  text-decoration: none;
}

.add-button-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: $pz-dark-blue;
  letter-spacing: normal;
}

.mat-mdc-menu-item {
  line-height: normal !important;
  font-size: 1rem;
  height: 2rem !important;
  min-height: 0 !important;
  &:hover {
    padding-left: 0.75rem;
    border-left: 0.25rem solid darkblue;
    background-color: #eff7ff !important;
  }
}

.icon {
  margin-top: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.keyResult-attribute-show {
  background-color: $keyResult-attribute-bg;
  padding: 0.25em 0.75rem;
  border-radius: 2px;
}

.keyResult-attribute-edit {
  border: solid $keyResult-attribute-edit-border 1px;
  background-color: $keyResult-attribute-bg;
  padding: 0.25em 0.75rem;
}

.default-cursor {
  cursor: default;
}

.bg-grey {
  background-color: $overview-bg;
}

body pzsh-backdrop {
  display: none;
}
