@import "custom_angular";
@import "_variables";
@import "custom_bootstrap";
@import "fonts/Roboto";
@import "fonts/MaterialIcons";

p {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: $overview-bg;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  word-wrap: anywhere;
  color: black;
}

.sub-title {
  font-size: 0.8rem;
}

.detail-view-subtitle {
  font-size: 1rem;
}

.icon {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.keyResult-attribute-show {
  background-color: $keyResult-attribute-bg;
  padding: 0.25em 0.75rem;
  border-radius: 2px;
}

.keyResult-attribute-edit {
  @extend .keyResult-attribute-show;
  border: solid $keyResult-attribute-edit-border 1px;
}

.bg-grey {
  background-color: $overview-bg;
}

body pzsh-backdrop {
  display: none;
}

.text-small {
  font-size: 0.8rem;
}

.dialog {
  max-width: 769px;
  box-shadow:
    0 0 0 0 rgba(0, 0, 0, 0.06),
    1px 1px 2px 0 rgba(0, 0, 0, 0.06),
    3px 3px 4px 0 rgba(0, 0, 0, 0.05),
    8px 6px 6px 0 rgba(0, 0, 0, 0.03),
    14px 11px 7px 0 rgba(0, 0, 0, 0.01),
    21px 18px 8px 0 rgba(0, 0, 0, 0);
}

.disable-scrolling {
  overflow-y: hidden;
}

.panel {
  @extend .col-sm-12;
  @extend .col-md-5;
}

.backdrop {
  margin-top: $top-bar-height;
}

.spinner-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  @extend .mt-5;
  @extend .display-6;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.mat-mdc-form-field-error {
  color: $error-color;
}

.big-dialog-form-field {
  height: 3.56rem !important;
}

.dialog-form-field {
  resize: none;
  outline: none;
}

.dialog-form-field-error {
  resize: none;
  outline: $error-color 2px solid !important;
}

.custom-select {
  border: solid 1px #dddddd;
  padding: 0.44rem 0.625rem 0.375rem 0.625rem;
  cursor: pointer;
  width: 9.625rem;
  height: 1.18rem;
  box-sizing: content-box;
}

*:focus {
  outline: $pz-dark-blue solid 2px;
}

.bg-inherit {
  background-color: inherit;
}

.border-error {
  border: 1px solid $error;
}
