<div id="allSampleContent" class="p-4 w-full">
  <div id="sample">
    <div id="myDiagramDiv"
         style="background-color: whitesmoke; border: 1px solid black; width: 100%; height: 1000px; position: relative;">
      <canvas tabindex="0"
              style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 1054px; height: 698px;"
              width="1054" height="698"></canvas>
      <div style="position: absolute; overflow: auto; width: 1054px; height: 698px; z-index: 1;">
        <div style="position: absolute; width: 1px; height: 1px;"></div>
      </div>
    </div>
  </div>
  <div>
    <p id="clickedElement">Nothing clicked</p>
  </div>
</div>
