<div class="d-flex">
  <mat-form-field class="bg-white col-10" subscriptSizing="dynamic" [appearance]="'outline'" [floatLabel]="'auto'">
    <input type="text" matInput [(ngModel)]="input" [matAutocomplete]="auto" placeholder="Nach Objectives suchen" />

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button class="bg-pz-dark-blue col-2 d-flex justify-content-center align-items-center search-button icon-button">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search" class="text-white"></mat-icon>
  </button>
</div>
