<form class="d-flex" (ngSubmit)="this.refresh.next()">
  <mat-form-field
    id="objective-form-field"
    class="bg-white header-form-field"
    ngDefaultControl
    subscriptSizing="dynamic"
    [appearance]="'outline'"
  >
    <input
      matInput
      [type]="'text'"
      [placeholder]="'Nach Objectives suchen'"
      [(ngModel)]="query"
      (input)="this.refresh.next()"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>

  <button
    class="bg-pz-dark-blue d-flex justify-content-center align-items-center search-button icon-button px-3"
    type="submit"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search" class="text-white"></mat-icon>
  </button>
</form>
