<form class="d-flex h-75" (ngSubmit)="submit()">
  <mat-form-field
    class="bg-white col-10"
    ngDefaultControl
    subscriptSizing="dynamic"
    [appearance]="'outline'"
    [formControl]="objectiveControl"
  >
    <input type="text" matInput placeholder="Nach Objectives suchen" />
  </mat-form-field>
  <button
    class="bg-pz-dark-blue col-1 d-flex justify-content-center align-items-center search-button icon-button"
    type="submit"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search" class="text-white"></mat-icon>
  </button>
</form>
