<div
  class="okr-form-row bg-inherit flex-nowrap align-items-center mx-0"
  *ngIf="checkIn.confidence || checkIn.confidence === 0"
>
  <div
    class="bg-inherit d-flex justify-content-center align-items-center w-auto p-2"
    [ngClass]="[edit ? 'keyResult-attribute-edit' : 'keyResult-attribute-show', isDetail ? 'height' : '']"
  >
    <p class="fw-normal text-black sub-title-keyresult" data-testid="confidence">{{ checkIn.confidence }}/{{ max }}</p>
  </div>

  <mat-slider
    *ngIf="edit"
    [max]="max"
    [min]="min"
    [step]="1"
    [showTickMarks]="true"
    color="accent"
    [attr.data-testId]="'confidence-slider'"
  >
    <input matSliderThumb [(ngModel)]="checkIn.confidence" />
  </mat-slider>
</div>
