<mat-form-field
  class="w-100 bg-white header-form-field"
  ngDefaultControl
  subscriptSizing="dynamic"
  appearance="outline"
>
  <mat-select [attr.data-testId]="'select-team-role'" [(ngModel)]="isAdmin" (ngModelChange)="triggerIsAdminChange()">
    <mat-option [attr.data-testId]="'select-team-role-member'" [value]="false">{{
      "USER_ROLE.TEAM_MEMBER" | translate
    }}</mat-option>
    <mat-option [attr.data-testId]="'select-team-role-admin'" [value]="true">{{
      "USER_ROLE.TEAM_ADMIN" | translate
    }}</mat-option>
  </mat-select>
</mat-form-field>
