.pointer {
  cursor: pointer;
}

.progress-bar-good .mat-progress-bar-fill::after {
  background-color: green;
}

.progress-bar-medium .mat-progress-bar-fill::after {
  background-color: orange;
}

.progress-bar-bad .mat-progress-bar-fill::after {
  background-color: red;
}

.mat-progress-bar-buffer::after {
  background: #e4e8eb;
}