.keyresult-title {
  font-weight: 400;
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}

.matMenu {
  margin-right: 15px;
}

.measure-date {
  margin-left: 10px;
}

.measure-null-date {
  margin-right: 2vh;
}
