<span class="d-flex back-btn">
  <mat-icon>chevron_left</mat-icon>
  <p (click)="navigateBack()">Zurück</p>
</span>

<p class="fs-2 title">
  {{ this.create ? "Key Result hinzufügen" : "Key Result bearbeiten" }}
</p>
<p class="fs-4 title">Objective Beschreibung</p>
<div>
  <div
    *ngIf="objective$ | async as objective"
    class="d-flex flex-column center"
  >
    <div class="d-flex justify-content-center gap-3">
      <span class="d-flex w-50 justify-content-end">
        <p class="fw-bold max-content">Titel</p>
      </span>

      <p class="w-100 objective-title">
        {{ this.objective.title }}
      </p>
    </div>

    <div class="d-flex justify-content-center gap-3">
      <span class="d-flex w-50 justify-content-end">
        <p class="fw-bold max-content teamname-title">Team</p>
      </span>

      <p class="w-100 objective-teamname">
        {{ this.objective.teamName }}
      </p>
    </div>

    <div class="d-flex justify-content-center gap-3">
      <span class="d-flex w-50 justify-content-end">
        <p class="fw-bold max-content description-title">Beschreibung</p>
      </span>

      <p class="w-100 objective-description">
        {{ this.objective.description }}
      </p>
    </div>

    <div class="d-flex justify-content-center gap-3">
      <span class="d-flex w-50 justify-content-end">
        <p class="fw-bold max-content quarter-title">Zyklus</p>
      </span>

      <p class="w-100 objective-quarter">
        {{ this.objective.quarterLabel }}
      </p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <p class="fs-4 title detail">Details</p>

  <div
    *ngIf="keyresult$ | async as keyresult"
    class="d-flex w-100 justify-content-center"
  >
    <form
      (ngSubmit)="save()"
      [formGroup]="keyResultForm"
      class="d-flex flex-column fit-content"
    >
      <div class="d-flex align-items-center justify-content-end gap-4">
        <p class="fw-bold">Titel</p>
        <mat-form-field
          appearance="outline"
          class="form-field-width form-field-height"
        >
          <mat-label>Titel</mat-label>
          <input
            [value]="keyresult.title"
            formControlName="title"
            matInput
            placeholder="Titel"
            type="text"
            class="title-input"
          />
        </mat-form-field>
      </div>
      <div class="d-flex align-items-center gap-4 justify-content-end">
        <p class="fw-bold">Einheit</p>
        <mat-form-field
          appearance="outline"
          class="form-field-width form-field-height"
          *ngIf="create"
        >
          <mat-label>Einheit</mat-label>
          <mat-select
            (selectionChange)="
              this.enableTargetAndBasicValue(); this.resetValidatorOfForm()
            "
            [value]="keyresult.unit"
            formControlName="unit"
            class="unit-select"
          >
            <mat-option *ngFor="let unit of unit$" [value]="unit">
              {{ "UNIT." + unit | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <p *ngIf="!create" class="form-field-width keyresult-unit">
          {{ keyresult.unit }}
        </p>
      </div>

      <div class="d-flex align-items-center gap-4 justify-content-end">
        <p class="fw-bold">Erwartete Entwicklung</p>
        <mat-form-field
          appearance="outline"
          class="form-field-width form-field-height"
        >
          <mat-label>Erwartete Entwicklung</mat-label>
          <mat-select
            [value]="keyresult.expectedEvolution"
            formControlName="expectedEvolution"
            class="evolution-select"
          >
            <mat-option
              *ngFor="let evolution of expectedEvolution$"
              [value]="evolution"
            >
              {{ "EXPECTED_EVOLUTION." + evolution | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center justify-content-end gap-4">
        <p class="fw-bold">Startwert</p>
        <mat-form-field
          appearance="outline"
          class="form-field-width form-field-height"
        >
          <mat-label>Startwert</mat-label>
          <input
            [value]="keyresult.basicValue"
            formControlName="basicValue"
            matInput
            placeholder="0"
            type="text"
            class="basicValue-input"
          />
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center justify-content-end gap-4">
        <p class="fw-bold">Zielwert</p>
        <mat-form-field
          appearance="outline"
          class="form-field-width form-field-height"
        >
          <mat-label>Zielwert</mat-label>
          <input
            [value]="keyresult.targetValue"
            formControlName="targetValue"
            matInput
            placeholder="0"
            type="text"
            class="targetValue-input"
          />
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center justify-content-end gap-4">
        <p class="fw-bold">Beschreibung</p>
        <mat-form-field appearance="outline" class="form-field-width">
          <mat-label>Beschreibung</mat-label>

          <textarea
            [value]="keyresult.description"
            formControlName="description"
            matInput
            placeholder="Beschreibung"
            type="text"
            class="description-textarea"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center gap-4 justify-content-end">
        <p class="fw-bold">Besitzer</p>
        <mat-form-field
          appearance="outline"
          class="form-field-width form-field-height"
        >
          <mat-label>Besitzer</mat-label>
          <mat-select
            [value]="keyresult.ownerId"
            formControlName="ownerId"
            class="owner-select"
          >
            <mat-option *ngFor="let user of users$ | async" [value]="user.id">
              {{ user.firstname + " " + user.lastname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex gap-2 justify-content-end">
        <button
          (click)="navigateBack()"
          class="rounded-5"
          color="primary"
          mat-stroked-button
          type="reset"
        >
          Abbrechen
        </button>

        <button
          class="rounded-5 create-button"
          color="primary"
          mat-raised-button
          type="submit"
          [disabled]="!keyResultForm.valid"
        >
          {{ this.create ? "Erstellen" : "Aktualisieren" }}
        </button>
      </div>
    </form>
  </div>
</div>
