@use "variables";
@use "custom_bootstrap";
@use "bootstrap";

mat-dialog-content {
  //scrollbar-gutter: stable both-edges;
  $dialog-header-height: 48px;
  $top-bar-height: variables.$top-bar-height;
  $dialog-content-padding-y: variables.$dialog-content-padding-y;
  $dialog-action-buttons-div-height: variables.$dialog-action-buttons-div-height;
  $full-dialog-content-height: calc(
    100vh - $top-bar-height - $dialog-header-height - $dialog-content-padding-y - $dialog-action-buttons-div-height
  );
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-wrap;
  @extend .container-fluid;
  max-height: $full-dialog-content-height !important;

  @include bootstrap.media-breakpoint-down(sm) {
    height: $full-dialog-content-height !important;
  }
}

mat-dialog-actions {
  @extend .d-flex;
  @extend .justify-content-between;
  height: variables.$dialog-action-buttons-div-height !important;
}
