<div class="d-flex flex-column">
  <div class="scoring-container d-flex flex-row">
    <div class="flex-fill">
      <div>
        <span class="okr-score-lable">
          <span class="text-center text-small">Fail</span>
        </span>
        <span class="okr-score-lable okr-score-commit">
          <span class="text-center text-small">Commit</span>
        </span>
        <span class="okr-score-lable">
          <span class="text-center text-small">Target</span>
        </span>
      </div>

      <div>
        <span class="okr-score">
          <span class="child" #fail [attr.data-testId]="'fail'"></span>
        </span>
        <span class="okr-score okr-score-commit">
          <span class="child" #commit [attr.data-testId]="'commit'"></span>
        </span>
        <span class="okr-score">
          <span class="child" #target [attr.data-testId]="'target'"></span>
        </span>
      </div>
    </div>

    <div class="okr-stretch d-flex flex-column align-items-center mt-1">
      <span class="text-center text-small">Stretch</span>
      <img
        [src]="'../../../../assets/icons/star-' + iconPath + '-icon.svg'"
        [attr.data-testId]="'stretch'"
        alt="Star-Icon"
        class="starIcon"
      />
    </div>
  </div>
</div>
