.scoring-error-badge {
  aspect-ratio: 1/1;
  height: 90%;
  margin-left: 1.05px;
}

.scoring-container {
  display: flex;
  justify-content: flex-start;
}

.okr-score-label {
  display: inline-grid;
  width: 30%;
  margin-bottom: 4px;
}

.okr-score {
  display: inline-grid;
  height: 21px;
  width: 30%;
  background-color: white;
  outline: 1px solid #5d6974;
}

.okr-score-commit {
  width: 40%;
}

.okr-stretch {
  margin-left: 16px;
}

.starIcon {
  display: block;
  width: 21px;
  height: 21px;
}

.stretch-div {
  width: 100%;
  background-image: url("./../../../../assets/images/scoring-stars.svg");
  height: 21px;
  margin-bottom: 3.5px;
}

.score-red {
  background-color: #ba3838;
}

.score-yellow {
  background-color: #ffd600;
}

.score-green {
  background-color: #1e8a29;
}

.score-stretch {
  background-image: url("../../../../assets/images/scoring-stars.svg");
}

.value-label {
  max-width: 100%;
  min-width: fit-content;
  display: inline-block;
  text-align: end;
}

.stretch-label {
  padding-top: 2px;
  padding-bottom: 4px;
}

@media screen and (max-width: 580px) {
  .okr-stretch {
    margin-bottom: 0.065rem !important;
    margin-right: 0.5rem;
  }
}
