.keyresult-title {
  font-weight: 400;
  font-size: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.pointer {
  cursor: pointer;
}

.matMenu {
  margin-right: 15px;
}

.delete-icon {
  height: 20px;
  width: 20px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.mat-expansion-panel-header {
  height: 100% !important;
  overflow: hidden;
  text-overflow: unset;
  margin: 5px;
}

.mat-panel-description {
  display: flex;
  white-space: inherit;
  justify-content: space-between;
}

p {
  padding-left: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#progressContainer {
  padding-left: 10%;
  flex-grow: 1;
}
