.max-content {
  width: max-content;
}

.fit-content {
  width: fit-content;
}

.title {
  margin-left: 30%;
  margin-bottom: 4vh;
}

.detail {
  margin-top: 5vh;
}

.center {
  margin-left: 22%;
}

.back-btn {
  margin: 30px 10px 0 70px;
  p {
    cursor: pointer;
  }
}

.heading-label {
  margin-left: 70px;
  margin-bottom: 30px;
}

.form-container {
  margin-left: 10%;
}

.datepicker-input {
  margin-bottom: 20px;
}

.unit-label {
  margin-bottom: 10px;
}

.margin-right {
  margin-right: 90px;
}
