@import "variables";

#okrBanner {
  position: fixed;
  width: 100%;
  height: min-content;
  z-index: 100;
  transition: 0.5s;
  background-color: #dcedf9;
}

.header-content {
  padding-left: 1.5rem;
}
