<pzsh-banner id="okrBanner">
  <img slot="tangram" ngSrc="assets/images/triangles-okr-header.svg" alt="okr-tangram" height="140" width="274" />
  <div slot="content" class="header-content h-100 m-0 pt-3 pb-3 d-flex gap-2 flex-column container-fluid">
    <div>
      <!--     TODO second header-->
    </div>
    <div class="d-flex align-items-end gap-2">
      <span class="d-flex flex-column">
        <p class="mb-2">Quartal</p>
        <app-quarter-filter></app-quarter-filter>
      </span>
      <app-objective-filter></app-objective-filter>
    </div>
    <app-team-filter></app-team-filter>
  </div>
</pzsh-banner>
