<div class="d-flex flex-row">
  <div class="d-flex flex-column">
    <p class="text-center">Fail</p>
    <div
      class="child"
      [style.width]="isOverview ? '63px' : '98px'"
      [style.--barWidth]="failWidth"
      [style.--barColor]="failColor"
    ></div>
  </div>

  <div class="d-flex flex-column">
    <p class="text-center">Commit</p>
    <div
      class="child"
      [style.width]="isOverview ? '63px' : '98px'"
      [style.--barWidth]="commitWidth"
      [style.--barColor]="commitColor"
    ></div>
  </div>

  <div class="d-flex flex-column">
    <p class="text-center">Target</p>
    <div
      class="child"
      [style.width]="isOverview ? '63px' : '98px'"
      [style.--barWidth]="targetWidth"
      [style.--barColor]="targetColor"
    ></div>
  </div>

  <div class="d-flex flex-column mlLeft">
    <p class="text-center">Stretch</p>
    <img src="../../../../assets/icons/star-{{ iconPath }}-icon.svg" alt="Star-Icon" class="starIcon" />
  </div>
</div>
<div>
  <p class="metricLabel" [style.--barWidth]="failWidth">{{ metricLabel }}</p>
</div>
