div {
  position: relative;
}

.child:after {
  content: "\A";
  position: absolute;
  background: var(--barColor);
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--barWidth);
}

.child {
  outline: 1px solid #5d6974;
  height: 21px;
  background-color: white;

  &[data-end-line="endLine"]:after {
    border-right: 1px #5d6974 solid;
  }
}

.starIcon {
  width: 22px;
  height: 22px;
}

.mlLeft {
  margin-left: 16px;
}

p {
  font-size: 8px;
}

.metricLabel {
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
}

.container {
  margin-left: 100px;
}

.unitLabel {
  container-type: inline-size;
  width: var(--barWidth);
  min-width: fit-content;
  max-width: 294px;
}

.metricLabel {
  text-align: right;
  white-space: nowrap;
}
