<app-dialog-template-core [observable]="checkInHistory$" [title]="'Check-in History'">
  <ng-container content>
    <ng-container *ngIf="(checkInHistory$ | async)?.length! > 0 && (checkInHistory$ | async) as checkInHistory">
      <div *ngFor="let checkIn of checkInHistory; index as i" class="bg-display-element p-1 okr-form-row">
        <div class="col okr-form-label">
          <div class="okr-form-row justify-content-between">
            <span class="fw-bold col-auto">
              {{ checkIn.createdOn | date: DATE_FORMAT }}
            </span>

            <button
              class="col-auto"
              mat-icon-button
              (click)="openCheckInDialogForm(checkIn)"
              *ngIf="!isComplete && checkIn.writeable"
              [attr.data-testId]="'edit-check-in'"
            >
              <img ngSrc="assets/icons/edit.svg" alt="edit check-in" width="24" height="24" />
            </button>
          </div>
          <div class="okr-form-row row-cols-4">
            <h4 class="col-auto">Wert:</h4>
            <span class="col">
              <ng-container *ngIf="keyResult.keyResultType === 'metric'">
                {{ +getCheckInMetric(checkIn).value! | unitTransformation: getMetricKeyResult().unit }}
              </ng-container>
              <ng-container *ngIf="keyResult.keyResultType === 'ordinal'">
                {{ getCheckInOrdinal(checkIn).zone! }}
              </ng-container>
            </span>
            <h4 class="col-auto">Confidence:</h4>
            <span class="col">{{ checkIn.confidence }} / 10</span>
          </div>

          <div class="okr-form-row justify-content-between" *ngIf="checkIn.changeInfo !== ''">
            <h4 class="col-3">Veränderungen:</h4>
            <span class="col linebreak">{{ checkIn.changeInfo }}</span>
          </div>

          <div class="okr-form-row justify-content-between row-cols-2" *ngIf="checkIn.initiatives !== ''">
            <h4 class="col-3">Massnahmen:</h4>
            <span class="col flex-fill linebreak">{{ checkIn.initiatives }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container actions>
    <div class="col-auto">
      <button [attr.data-testId]="'closeButton'" mat-flat-button color="primary" mat-dialog-close>Schliessen</button>
    </div>
  </ng-container>
</app-dialog-template-core>
