@import "_variables";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.overviewContainer {
  overflow-x: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 500px) {
  .overviewContainer {
    padding-left: 0;
    padding-right: 0;
  }
}

.mt-header-height {
  padding-top: $default-header-height;
  background-color: $overview-bg;
  @include media-breakpoint-down(md) {
    padding-top: $mobile-header-height;
  }
}
