<app-dialog-template-core [title]="getDialogTitle()">
  <ng-container content>
    <form [formGroup]="dialogForm">
      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col">Key Result</label>
        <span class="okr-form-col">
          <p class="dialog-data-show">{{ keyResult.title }}</p>
        </span>
      </div>

      <div *ngIf="!isAddingAction; else actionPlanComponent">
        <div *ngIf="getActions().length > 0" class="okr-form-row okr-form-label-input-container">
          <label class="okr-form-label okr-form-col">Action Plan:</label>
          <div class="col">
            <span *ngFor="let action of getActions(); let i = index" class="okr-form-row">
              <mat-checkbox
                #checkbox
                (change)="changeIsChecked($event, i)"
                [checked]="action.isChecked"
                class="col-auto"
              >
              </mat-checkbox>
              <div class="col bg-display-element break-word okr-form-label d-flex align-items-center" [ngClass]="{ 'text-decoration-line-through': checkbox.checked }">
                {{ action.action }}
              </div>
            </span>
          </div>
        </div>

        <button
          mat-button
          color="primary"
          class="fw-bold col-auto"
          (click)="openActionEdit()"
        >
          <span class="d-flex align-items-center add-text">
            <img
              src="../../../assets/icons/new-icon.svg"
              alt="Add action icon"
              class="add-cross-button"
              id="add-action-icon"
            />
            Action hinzufügen
          </span>
        </button>
      </div>

      <ng-template #actionPlanComponent>
        <app-action-plan [control]="actionList$" [keyResultId]="keyResult.id"></app-action-plan>
        <button
          mat-button
          color="primary"
          (click)="closeActionEdit()"
        >Speichern</button>
      </ng-template>

      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col" for="change-info">Kommentar/ Veränderung seit letztem Check-in (optional):</label
        >
        <div class="okr-form-input">
          <textarea
            [attr.data-testId]="'changeInfo'"
            [ngClass]="formInputCheck(dialogForm, 'changeInfo')"
            class="big-dialog-form-field"
            id="change-info"
            formControlName="changeInfo"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(dialogForm, 'changeInfo')">
            <span>{{ getErrorMessage("MAX_VALUE", "Kommentar / Veränderung", 4096) }}</span>
          </mat-error>
        </div>
      </div>

      <app-check-in-form-metric
        *ngIf="keyResult.keyResultType === 'metric'"
        [checkIn]="checkIn"
        [dialogForm]="dialogForm"
        [keyResult]="getKeyResultMetric()"
      ></app-check-in-form-metric>
      <app-check-in-form-ordinal
        *ngIf="keyResult.keyResultType === 'ordinal'"
        [checkIn]="checkIn"
        [dialogForm]="dialogForm"
        [keyResult]="getKeyResultOrdinal()"
      ></app-check-in-form-ordinal>

      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col" for="initiatives">Massnahmen (optional):</label>
        <div class="okr-form-input">
          <textarea
            [attr.data-testId]="'initiatives'"
            [ngClass]="formInputCheck(dialogForm, 'initiatives')"
            class="big-dialog-form-field"
            formControlName="initiatives"
            id="initiatives"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(dialogForm, 'initiatives')">
            <span>{{ getErrorMessage("MAX_VALUE", "Massnahmen", 4096) }}</span>
          </mat-error>
        </div>
      </div>

      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col confidence-label">
          Confidence um Target Zone
          <span *ngIf="keyResult.keyResultType === 'metric' && getKeyResultMetric() as kr">
            ({{ calculateTarget(kr) | unitTransformation: kr.unit }})
          </span>
          zu erreichen:
        </label>
        <app-confidence [checkIn]="checkIn" [isEdit]="true"></app-confidence>
      </div>
    </form>
  </ng-container>

  <ng-container actions>
    <div class="col-auto">
      <button
        (click)="saveCheckIn()"
        [attr.data-testId]="'submit-check-in'"
        [disabled]="!dialogForm.valid"
        color="primary"
        mat-flat-button
        type="submit"
      >
        <span *ngIf="checkIn.id">Speichern</span>
        <span *ngIf="!checkIn.id">Check-in speichern</span>
      </button>
      <button
        [attr.data-testId]="'cancel'"
        color="primary"
        mat-button
        mat-dialog-close
      >Abbrechen</button>
    </div>
  </ng-container>
</app-dialog-template-core>
