@import "_variables";

.cancel-button {
  background-color: $pz-dark-blue;
  border-radius: 8px;
  width: min-content;
}

.edit-check-in {
  width: 20px;
  height: 20px;
}

.edit-check-in-button {
  @extend .edit-check-in;
  margin-right: 5px;
}

.check-in-box {
  background-color: #f5f5f5;
}

.label-width {
  width: 19%;
}

.value-width {
  width: 81%;
}

.dialog-content {
  max-height: 312px;
}

.close-button {
  margin-top: 32px;
}

@media only screen and (max-width: 690px) {
  .label-width {
    width: 60%;
  }
}

@media only screen and (min-height: 600px) and (max-width: 450px) {
  .dialog-content {
    max-height: 500px;
  }
}

@media only screen and (min-height: 700px) and (max-width: 450px) {
  .dialog-content {
    max-height: 590px;
  }
}

@media only screen and (min-height: 800px) and (max-width: 450px) {
  .dialog-content {
    max-height: 625px;
  }
}

@media only screen and (min-height: 850px) and (max-width: 450px) {
  .dialog-content {
    max-height: 685px;
  }
}

@media only screen and (min-height: 875px) and (max-width: 450px) {
  .dialog-content {
    max-height: 715px;
  }
}

@media only screen and (min-height: 900px) and (max-width: 450px) {
  .dialog-content {
    max-height: 750px;
  }
}

@media only screen and (min-height: 1000px) and (max-width: 450px) {
  .dialog-content {
    max-height: 550px;
  }
}
