@import "_variables";

.cancel-button {
  background-color: $pz-dark-blue;
  border-radius: 8px;
}

.edit-check-in {
  width: 20px;
  height: 20px;
}

.check-in-box {
  background-color: #f5f5f5;
}

.label-width {
  width: 18%;
}

.value-width {
  width: 82%;
}

.dialog-content {
  max-height: 355px;
}
