@import "_variables";

.cancel-button {
  background-color: $pz-dark-blue;
  border-radius: 8px;
  width: min-content;
}

.edit-check-in {
  width: 20px;
  height: 20px;
}

.edit-check-in-button {
  @extend .edit-check-in;
  margin-right: 5px;
}

.check-in-box {
  background-color: #f5f5f5;
}

.label-width {
  width: 19%;
}

.value-width {
  width: 81%;
}

.dialog-content {
  max-height: 312px;
}

.close-button {
  margin-top: 32px;
}
