<div class="okr-form-row row-cols-auto mx-0 my-1">
  <button
    [style.cursor]="typeChangeAllowed ? 'pointer' : 'default'"
    [ngClass]="{ active: isMetric, 'non-active': !isMetric }"
    [attr.data-testId]="'metricTab'"
    class="tab-title"
    (click)="switchKeyResultType('metric')"
    (keydown.enter)="switchKeyResultType('metric')"
    tabindex="0"
  >
    Metrisch
  </button>
  <button
    [style.cursor]="typeChangeAllowed ? 'pointer' : 'default'"
    [ngClass]="{ active: !isMetric, 'non-active': isMetric }"
    [attr.data-testId]="'ordinalTab'"
    class="tab-title"
    (click)="switchKeyResultType('ordinal')"
    (keydown.enter)="switchKeyResultType('ordinal')"
    tabindex="0"
  >
    Ordinal
  </button>
  <div class="buffer col flex-fill tab-title"></div>
</div>

<ng-container *ngIf="isMetric; else ordinalBlock">
  <form [formGroup]="keyResultForm" class="okr-form-row row-cols-1 row-cols-md-3">
    <div class="col">
      <div class="okr-form-row">
        <label class="okr-form-label okr-form-col" for="unit">Einheit</label>
        <div class="col">
          <select
            class="dialog-form-field unit-dropdown bg-white"
            [ngClass]="formInputCheck(keyResultForm, 'unit')"
            formControlName="unit"
            id="unit"
            [attr.data-testId]="'unit'"
          >
            <option *ngFor="let unit of Unit | keyvalue" value="{{ unit.value }}">
              {{ "UNIT." + unit.value | translate }}
            </option>
          </select>
          <mat-error *ngIf="hasFormFieldErrors(keyResultForm, 'unit')">
            <span>{{ getErrorMessage("MUST_SELECT", "Einheit", null, null) }}</span>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="okr-form-row">
        <label class="okr-form-label okr-form-col" for="baseline">Baseline</label>
        <div class="col">
          <input
            [attr.data-testId]="'baseline'"
            class="dialog-form-field"
            [ngClass]="formInputCheck(keyResultForm, 'baseline')"
            formControlName="baseline"
            id="baseline"
          >
          <mat-error *ngIf="hasFormFieldErrors(keyResultForm, 'baseline')">
            <span>{{ getErrorMessage("MUST_BE_NUMBER", "Baseline", null, null) }}</span>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="okr-form-row">
        <label class="okr-form-label okr-form-col" for="stretchGoal">Stretch Goal</label>
        <div class="col">
          <input
            [attr.data-testId]="'stretchGoal'"
            class="dialog-form-field"
            [ngClass]="formInputCheck(keyResultForm, 'stretchGoal')"
            formControlName="stretchGoal"
            id="stretchGoal"
          >
          <mat-error *ngIf="hasFormFieldErrors(keyResultForm, 'stretchGoal')">
            <span>{{ getErrorMessage("MUST_BE_NUMBER", "Stretch Goal", null, null) }}</span>
          </mat-error>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #ordinalBlock>
  <form [formGroup]="keyResultForm" class="okr-form-row row-cols-1 row-cols-md-3">
    <div class="col">
      <div class="okr-form-row">
        <label class="okr-form-label okr-form-col" for="commitZone">Commit Zone</label>
        <div class="col">
          <textarea
            class="big-dialog-form-field"
            [ngClass]="formInputCheck(keyResultForm, 'commitZone')"
            formControlName="commitZone"
            id="commitZone"
            [attr.data-testId]="'commitZone'"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(keyResultForm, 'commitZone')">
            <span>{{ getErrorMessage("SIZE_BETWEEN", "Commit Zone", 1, 400) }}</span>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="okr-form-row">
        <label class="okr-form-label okr-form-col" for="targetZone">Target Zone</label>
        <div class="col">
          <textarea
            [attr.data-testId]="'targetZone'"
            class="big-dialog-form-field"
            [ngClass]="formInputCheck(keyResultForm, 'targetZone')"
            formControlName="targetZone"
            id="targetZone"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(keyResultForm, 'targetZone')">
            <span>{{ getErrorMessage("SIZE_BETWEEN", "Target Zone", 1, 400) }}</span>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="okr-form-row">
        <label class="okr-form-label okr-form-col" for="stretchZone">Stretch Goal</label>
        <div class="col">
          <textarea
            [attr.data-testId]="'stretchZone'"
            class="big-dialog-form-field"
            [ngClass]="formInputCheck(keyResultForm, 'stretchZone')"
            formControlName="stretchZone"
            id="stretchZone"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(keyResultForm, 'stretchZone')">
            <span>{{ getErrorMessage("SIZE_BETWEEN", "Stretch Zone", 1, 400) }}</span>
          </mat-error>
        </div>
      </div>
    </div>
  </form>
</ng-template>
