@import "custom_bootstrap";
.active {
  border-left: #909090 1px solid;
  border-top: #909090 1px solid;
  border-right: #909090 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  color: black;
}

.non-active {
  color: #9c9c9c;
  border-bottom: #909090 1px solid;
}

.tab-title {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .py-2;
  @extend .col-auto;
  @extend .tab-focus;
}

.buffer {
  border-bottom: #909090 1px solid;
}

.tab-focus {
  outline: none;
  &:focus-visible {
    border-radius: 5px;
    border: 2px solid #1a4e83;
  }
}

.ordinal-input-fields {
  height: 4.3rem;
  padding: 0.437rem 0.625rem 0.375rem 0.625rem !important;
}

.metric-fields {
  height: 2rem;
  padding: 0.437rem 0.625rem 0.375rem 0.625rem !important;
}

.unit-dropdown {
  @extend .metric-fields;
  border: solid 1px #909090;
  cursor: pointer;
}

.kr-input-container {
  @extend .d-flex;
  @extend .flex-column;
  @extend .col-md-4;
}
