<span class="d-flex btn px-4 pt-4 fit-content">
  <mat-icon>chevron_left</mat-icon>
  <p (click)="navigateBack()">Zurück</p>
</span>

<p class="fs-2 heading-label">
  {{ this.create ? "Objective hinzufügen" : "Objective bearbeiten" }}
</p>
<div class="form-container" *ngIf="objectives$ | async as objective">
  <div class="d-flex w-100">
    <form (ngSubmit)="save()" [formGroup]="objectiveForm" class="d-flex flex-column fit-content">
      <div class="d-flex align-items-center gap-4 justify-content-end">
        <p class="fw-bold">Team</p>
        <mat-form-field appearance="outline" class="form-field-width form-field-height">
          <mat-label>Team</mat-label>
          <mat-select [value]="objective.teamId" formControlName="teamId">
            <mat-option *ngFor="let team of teams$ | async" [value]="team.id">
              {{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center justify-content-end gap-4">
        <p class="fw-bold">Titel</p>
        <mat-form-field appearance="outline" class="form-field-width form-field-height">
          <mat-label>Titel</mat-label>
          <input [value]="objective.title" formControlName="title" matInput placeholder="Titel" type="text" />
        </mat-form-field>
      </div>
      <div class="d-flex align-items-center justify-content-end gap-4">
        <p class="fw-bold">Beschreibung</p>
        <mat-form-field appearance="outline" class="form-field-width">
          <mat-label>Beschreibung</mat-label>

          <textarea
            [value]="objective.description"
            formControlName="description"
            matInput
            placeholder="Beschreibung"
            type="text"
            class="description-textarea"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center gap-4 justify-content-end">
        <p class="fw-bold">Besitzer</p>
        <mat-form-field appearance="outline" class="form-field-width form-field-height">
          <mat-label>Besitzer</mat-label>
          <input type="text" matInput formControlName="owner" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getUserNameById.bind(this)">
            <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
              {{ user.firstname + " " + user.lastname }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center gap-4 justify-content-end">
        <p class="fw-bold quarter">Zyklus</p>
        <mat-form-field appearance="outline" class="form-field-width form-field-height">
          <mat-label>Zyklus</mat-label>
          <mat-select [value]="objective.quarterId" formControlName="quarterId" class="owner-select">
            <mat-option *ngFor="let quarter of quarters$ | async" [value]="quarter.id">
              {{ quarter.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex gap-2 justify-content-end">
        <button (click)="navigateBack()" class="rounded-5" color="primary" mat-stroked-button type="reset">
          Abbrechen
        </button>

        <button [disabled]="objectiveForm.invalid" class="rounded-5" color="primary" mat-raised-button type="submit">
          {{ this.create ? "Erstellen" : "Aktualisieren" }}
        </button>
      </div>
    </form>
  </div>
</div>
