.max-content {
  width: max-content;
}

.fit-content {
  width: fit-content;
}

.form-field-width {
  width: 15em;
}

.form-field-height {
  height: 5em;
}

.back-btn {
  margin: 60px 0 20px 60px;
}

.heading-label {
  margin-left: 50px;
  margin-bottom: 30px;
}
