.form-container {
  margin-left: 10%;
}

.max-content {
  width: max-content;
}

.fit-content {
  width: fit-content;
}

.form-field-width {
  width: 15em;
}

.form-field-height {
  height: 5em;
}

.heading-label {
  margin-left: 50px;
  margin-bottom: 30px;
}

.quarter {
  margin-left: 14%;
}
