<div #container class="container-fluid">
  <ng-template
    (backdropClick)="close()"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayHeight]="'100vh'"
    [cdkConnectedOverlayWidth]="'800px'"
    [cdkConnectedOverlayOffsetY]="48"
    [cdkConnectedOverlayOpen]="true"
    [cdkConnectedOverlayOrigin]="container"
    [cdkConnectedOverlayPanelClass]="'panel'"
    [cdkConnectedOverlayPositions]="position"
    [cdkConnectedOverlayPush]="true"
    cdkConnectedOverlay
    (overlayKeydown)="closeOnKeydown($event)"
  >
    <div
      [cdkTrapFocusAutoCapture]="true"
      cdkScrollable="false"
      cdkTrapFocus
      class="bg-white w-100 side-panel overflow-y-auto"
      [ngClass]="{ right: loaded }"
      [style.right]="right"
    >
      <div class="sidebar__content d-flex">
        <div class="d-flex flex-row w-100 router-outlet-wrapper">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-template>
</div>
