<div class="role">
  @if (!edit) {
  <span>{{ getRole() }}</span>

  @if (isTeamWriteable()) {
  <span
    [matTooltip]="isTeamArchived() ? 'Rolle kann nicht bearbeitet werden, da das Team archiviert ist.' : ''"
    [matTooltipDisabled]="!isTeamArchived()"
    style="display: inline-block;"
  >
    <app-puzzle-icon-button
      (click)="isTeamArchived() ? $event.stopPropagation() : setEditAsync($event, true)"
      [disabled]="isTeamArchived()"
      [attr.data-testId]="isTeamArchived() ? 'edit-role-disabled' : 'edit-role'"
      icon="edit.svg"
      alt="Edit Team Icon"
    >
    </app-puzzle-icon-button>
  </span>
  }
  }

  @if (edit) {
  <app-team-role-dropdown
    [isAdmin]="userTeam().isTeamAdmin"
    (isAdminChange)="saveIsAdmin($event)">
  </app-team-role-dropdown>
  }
</div>
