@use 'custom_bootstrap';

.active {
  border-left: #909090 1px solid;
  border-top: #909090 1px solid;
  border-right: #909090 1px solid;
  border-bottom: #909090 0 solid;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  color: black;
}

.non-active {
  color: #9c9c9c;
  background: white;
  border: #909090 0 solid;
  border-bottom: #909090 1px solid;
}

.tab-title {
  @extend .p-2;
  @extend .tab-focus;
}

.buffer {
  border-bottom: #909090 1px solid;
}

.tab-focus {
  outline: none;

  &:focus-visible {
    border-radius: 5px;
    border: 2px solid #1a4e83;
  }
}

.unit-dropdown {
  border: solid 1px #909090;
  cursor: pointer;
}
