<app-dialog-template-core [title]="dialogTitle">
  <ng-container content>
    <div class="linebreak bg-display-element p-2 fw-normal mb-3">
      <span class="information">{{ this.dialogText.trim() }}</span>
    </div>
  </ng-container>

  <ng-container actions>
    <div class="col-auto">
      <button
        [attr.data-testId]="'confirm-yes'"
        type="submit"
        (click)="closeAndDelete()"
        color="primary"
        mat-flat-button
      >
        Ja
      </button>

      <button mat-button mat-dialog-close color="primary" [attr.data-testId]="'confirm-no'">Nein</button>
    </div>
  </ng-container>
</app-dialog-template-core>
