<app-dialog-template-core [title]="dialogTitle">
  <ng-container content>
    <div class="linebreak bg-display-element p-2 fw-normal mb-3">
      <span class="information">{{ dialogText.trim() }}</span>
    </div>
  </ng-container>

  <ng-container actions>
    <div class="col-auto">
      <button
        *ngIf="isYesButtonVisible()"
        [disabled]="isYesButtonDisabled()"
        [attr.data-testId]="'confirm-yes'"
        type="submit"
        (click)="closeAndDelete()"
        color="primary"
        mat-flat-button
      >
        Ja
      </button>

      <button
        *ngIf="isNoButtonVisible()"
        [disabled]="isNoButtonDisabled()"
        mat-button
        mat-dialog-close
        color="primary"
        [attr.data-testId]="'confirm-no'"
      >
        Nein
      </button>
      <button
        *ngIf="isCloseButtonVisible()"
        [disabled]="isCloseButtonDisabled()"
        mat-button
        mat-dialog-close
        color="primary"
        [attr.data-testId]="'confirm-close'"
      >
        Schliessen
      </button>
    </div>
  </ng-container>
</app-dialog-template-core>
