<section mat-dialog-title>
  <app-dialog-header [dialogTitle]="this.dialogTitle"></app-dialog-header>
</section>

<mat-dialog-content>
  <div class="linebreak bg-display-element p-2 fw-normal mb-3">
    <span class="information">{{ this.dialogText.trim() }}</span>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="m-0">
  <button [attr.data-testId]="'confirmYes'" type="submit" (click)="closeAndDelete()" color="primary" mat-flat-button>
    Ja
  </button>
  <button mat-button mat-dialog-close color="primary">Nein</button>
</mat-dialog-actions>
