.mat-dialog-content {
  color: #dddddd;
}

.dialog-wrapper {
  position: relative;
}

.close-button-help-dialog {
  position: absolute;
  font-size: 2rem;
  top: 0.5rem;
  right: 0.5rem;
  transform: translate(50%, -50%);
}
