<div class="w-100" cdkTrapFocus cdkTrapFocusAutoCapture="true" [attr.data-testId]="'side-panel'">
  <div *ngIf="user as userRef; else spinner">
    <div class="w-100">
      <h2>
        {{ getFullNameFromUser(userRef) }}
        <span *ngIf="selectedUserIsLoggedInUser">(ich)</span>
      </h2>
    </div>
    <div class="w-100">
      <table mat-table [dataSource]="userRef.userTeamList" class="okr-table">
        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef>Team</th>
          <td mat-cell *matCellDef="let element">{{ element.team.name }}</td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Rolle</th>
          <td mat-cell *matCellDef="let element">
            <div class="role">
              <ng-container *ngIf="element.id !== userTeamEditId">
                <span>{{ getRole(element) }}</span>
                <button mat-icon-button (click)="userTeamEditId = element.id" *ngIf="isEditable(element)">
                  <mat-icon class="d-flex justify-content-center align-items-center">edit</mat-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="element.id === userTeamEditId">
                <app-team-role-dropdown
                  [isAdmin]="element.isTeamAdmin"
                  (isAdminChange)="saveIsAdmin(element, userRef, $event)"
                ></app-team-role-dropdown>
              </ng-container>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="isDeletable(element)" mat-icon-button (click)="removeUserFromTeam(element, userRef)">
              <mat-icon class="d-flex justify-content-center align-items-center">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-add-user-team
        [currentTeams$]="currentUserTeams$.asObservable()"
        (addUserTeam)="saveTeamRole($event, userRef)"
      ></app-add-user-team>
    </div>
  </div>
</div>
<ng-template #spinner>
  <app-spinner text="Member wird geladen..."></app-spinner>
</ng-template>
