<div class="w-100" cdkTrapFocus cdkTrapFocusAutoCapture="true" [attr.data-testId]="'side-panel'">
  <div *ngIf="user; else spinner">
    <div class="w-100">
      <h2>
        {{ getFullNameFromUser(user) }}
        <span *ngIf="selectedUserIsLoggedInUser">(ich)</span>
      </h2>
    </div>
    <div class="w-100">
      <table mat-table [dataSource]="user.userTeamList" class="okr-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.team.name }}</td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Rolle</th>
          <td mat-cell *matCellDef="let element">
            <div class="role">
              <span>{{ getRole(element) }}</span>
              <button mat-icon-button (click)="editTeamMembership(element, user)" *ngIf="isEditable(element)">
                <mat-icon class="d-flex justify-content-center align-items-center">edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="isDeletable(element, user)" mat-icon-button (click)="removeUserFromTeam(element, user)">
              <mat-icon class="d-flex justify-content-center align-items-center">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
<ng-template #spinner>
  <app-spinner text="Member wird geladen..."></app-spinner>
</ng-template>
