<div>
  <div id="member-header">
    <div class="title">
      <h3 *ngIf="selectedTeam">
        <span>{{ selectedTeam?.name }}</span>
        <mat-icon class="mx-2 cursor-pointer" *ngIf="selectedTeam?.isWriteable" (click)="editTeam()">edit</mat-icon>
      </h3>
      <h3 *ngIf="!selectedTeam">Alle Teams</h3>
      <p>Members: {{ dataSource.length }}</p>
    </div>
    <div class="action-button">
      <button
        *ngIf="showAddMemberToTeam()"
        (click)="addMemberToTeam()"
        [attr.data-testId]="'add-team'"
        class="align-new-icon"
        color="primary"
        mat-button
      >
        <span class="d-flex align-items-center fw-bold add-text">
          <img alt="Add key-result button" class="add-cross-button" src="/assets/icons/new-icon.svg" />
          Member hinzufügen
        </span>
      </button>
      <button
        *ngIf="showInvitePerson()"
        (click)="invitePerson()"
        [attr.data-testId]="'add-team'"
        class="align-new-icon"
        color="primary"
        mat-button
      >
        <span class="d-flex align-items-center fw-bold add-text">
          <img alt="Add key-result button" class="add-cross-button" src="/assets/icons/new-icon.svg" />
          Person einladen
        </span>
      </button>
    </div>
    <div class="menu" *ngIf="selectedTeam">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="deleteTeam(selectedTeam)" mat-menu-item>
          <span>Team löschen</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="pt-3 p-2" *ngIf="!dataSource.length">
    <p>Keine Members</p>
  </div>

  <table *ngIf="dataSource.length" mat-table [dataSource]="dataSource" class="mat-elevation-z8 okr-table">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>person_outline</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstname }} {{ element.lastname }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Rolle</th>
      <td mat-cell *matCellDef="let element">{{ element.roles | roles }}</td>
    </ng-container>

    <ng-container matColumnDef="teams">
      <th mat-header-cell *matHeaderCellDef>Teams</th>
      <td mat-cell *matCellDef="let element" [title]="element.teams | teams: undefined">
        {{ element.teams | teams: 1 }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
