<div xmlns="http://www.w3.org/1999/html">
  <div id="member-header">
    <div class="title">
      <h3 *ngIf="selectedTeam$.value">
        <span>{{ selectedTeam$.value!.name }}</span>
        <mat-icon
          class="mx-2 cursor-pointer d-none d-md-inline-block"
          *ngIf="selectedTeam$.value!.isWriteable"
          (click)="editTeam()"
          [attr.data-testId]="'editTeamButton'"
          >edit</mat-icon
        >
      </h3>
      <h3 *ngIf="!selectedTeam$.value">Alle Teams</h3>
      <p class="d-none d-md-block">Members: {{ dataSource.data.length }}</p>
    </div>
    <div class="action-button d-none d-md-flex">
      <button
        *ngIf="showAddMemberToTeam()"
        (click)="addMemberToTeam()"
        [attr.data-testId]="'add-team-member'"
        class="align-new-icon"
        color="primary"
        mat-button
      >
        <span class="d-flex align-items-center fw-bold add-text">
          <img alt="Add key-result button" class="add-cross-button" src="/assets/icons/new-icon.svg" />
          Member hinzufügen
        </span>
      </button>
      <button
        *ngIf="showInvitePerson()"
        (click)="invitePerson()"
        [attr.data-testId]="'add-user'"
        class="align-new-icon"
        color="primary"
        mat-button
      >
        <span class="d-flex align-items-center fw-bold add-text">
          <img alt="Add key-result button" class="add-cross-button" src="/assets/icons/new-icon.svg" />
          Person einladen
        </span>
      </button>
    </div>
    <div class="menu" *ngIf="selectedTeam$.value?.isWriteable">
      <button mat-icon-button [matMenuTriggerFor]="menu" [attr.data-testId]="'teamMoreButton'">
        <mat-icon class="d-flex justify-content-center align-items-center">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          class="d-block d-md-none"
          (click)="deleteTeam(selectedTeam$.value!)"
          mat-menu-item
          [attr.data-testId]="'teamDeleteButton'"
        >
          <span>Member hinzufügen</span>
        </button>
        <button (click)="deleteTeam(selectedTeam$.value!)" mat-menu-item [attr.data-testId]="'teamDeleteButton'">
          <span>Team löschen</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <p class="d-block d-md-none text-small mx-2 mt-2">Members: {{ dataSource.data.length }}</p>

  <div class="d-none d-md-block">
    <app-member-list-table [dataSource]="dataSource" [selectedTeam$]="selectedTeam$"></app-member-list-table>
  </div>
  <div class="d-block d-md-none">
    <app-member-list-mobile [dataSource]="dataSource" [selectedTeam$]="selectedTeam$"></app-member-list-mobile>
  </div>

  <mat-paginator
    [selectConfig]="selectConfig"
    [pageSizeOptions]="[20, 50, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
