<div (click)="openDrawer()" class="key-result rounded-2 p-3">
  <div class="lh-base text-start">{{ keyResult.title }}</div>
  <app-scoring [keyResult]="keyResult" [isDetail]="false"></app-scoring>
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-center">
      <span *ngIf="keyResult.lastCheckIn != null" class="d-flex align-items-center sub-title flex-wrap sub-title">
        <span class="me-1 text-nowrap">Letztes Check-in:</span>
        <span>{{ keyResult!.lastCheckIn!.createdOn | date: "dd.MM.yyyy" }}</span>
      </span>
      <span *ngIf="keyResult.lastCheckIn == null" class="d-flex align-items-center sub-title flex-wrap sub-title">
        <span class="me-1 text-nowrap">Noch kein Check-in vorhanden</span>
      </span>
    </div>

    <div class="d-flex align-items-center flex-wrap justify-content-end">
      <p class="sub-title">Confidence</p>
      <app-confidence [edit]="false" [checkIn]="keyResult.lastCheckIn!" class="ms-2"></app-confidence>
    </div>
  </div>
</div>
