<div class="okr-form-row okr-form-label-input-container">
  <label for="action-list" class="okr-form-label">Action Plan (optional)</label>
  <div
    cdkDropList
    *ngIf="this.getFormControlArray()"
    (keydown.enter)="preventAddingNewItems($event)"
    class="okr-form-col d-flex flex-column gap-2"
    (cdkDropListDropped)="drop($event)"
    id="action-list"
  >
    <div
      class="action-point-item"
      *ngFor="let item of getFormControlArray().controls!; index as i; trackBy: trackByFn"
      [formGroupName]="i"
      cdkDrag
    >
      <div class="drag-drop-dots">
        <img
          cdkDragHandle
          class="icons"
          src="assets/icons/drag_indicator.svg"
          alt="Drag indicator"
        />
      </div>
      <input
        #listItem
        (keydown.arrowUp)="changeItemPosition(i, i - 1)"
        (keydown.arrowDown)="changeItemPosition(i, i + 1)"
        class="action-input"
        formControlName="item"
        [attr.data-testId]="'action-input'"
      />
      <button
        (keydown.enter)="removeAction(i)"
        (click)="removeAction(i)"
        class="btn btn-link"

      ><img

          class="icons bin-icon cursor-pointer focus-outline"
          src="assets/icons/delete-icon.svg"
          alt="Delete bin"
        />
      </button>
    </div>
  </div>

  <div class="okr-form-row mx-0">
    <button
      mat-button
      color="primary"
      class="fw-bold col-auto"
      id="add-action-button"
      [attr.data-testId]="'add-action-plan-line'"
      (click)="addNewItem()"
    >
      <span class="d-flex align-items-center add-text">
        <img
          src="assets/icons/new-icon.svg"
          alt="Add action icon"
          class="add-cross-button"
          id="add-action-icon"
        />
        Weitere Action hinzufügen
      </span>
    </button>
  </div>
</div>
