<mat-chip-listbox>
  <mat-chip color="primary" [highlighted]="activeTeams.length == 0" (click)="selectAll()"
    >Alle ({{ getAllObjectivesCount((this.teams$ | async)!) }})</mat-chip
  >

  <mat-chip
    class="cursor-pointer"
    *ngFor="let team of teams$ | async"
    color="primary"
    [role]="'button'"
    [highlighted]="activeTeams.includes(team.id) || activeTeams.length == 0"
    (click)="toggleSelection(team.id)"
    >{{ team.name }} ({{ team.activeObjectives }})</mat-chip
  >
</mat-chip-listbox>
