<mat-chip-listbox class="d-flex gap-2">
  <button class="icon-button team-button" (click)="selectAll()">
    <mat-chip color="primary" [highlighted]="activeTeams.length == 0" [attr.data-testId]="'team-filter-alle'"
      >Alle ({{ getAllObjectivesCount((this.teams$ | async)!) }})</mat-chip
    >
  </button>

  <button
    class="icon-button"
    *ngFor="let team of teams$ | async; trackBy: trackByFn"
    (click)="toggleSelection(team.id)"
    [attr.data-testId]="'team-filter-chip'"
  >
    <mat-chip color="primary" [highlighted]="activeTeams.includes(team.id) || activeTeams.length == 0"
      >{{ team.name }} ({{ team.activeObjectives }})</mat-chip
    >
  </button>
</mat-chip-listbox>
