<div id="topBarHeight">
  <div id="okrTopbar">
    <span class="d-flex h-100 align-items-center px-4">
      <img alt="okr-logo" height="32" ngSrc="assets/images/okr-logo.svg" width="214" />
    </span>
    <div class="d-flex align-items-center">
      <div class="px-3">
        <a class="topBarEntry" href="https://wiki.puzzle.ch/Puzzle/OKRs">
          <mat-icon aria-hidden="false" aria-label="Help icon" class="text-white" fontIcon="help_outline"></mat-icon>
    <pzsh-topbar id="pzsh-topbar">
      <img ngSrc="assets/images/okr-logo.svg" alt="okr-logo" height="32" width="214" />
    </pzsh-topbar>
    <pzsh-menu>
      <div slot="actions">
        <pzsh-menu-action>
          <pzsh-icon name="sliders-v-alt"></pzsh-icon>
          Teamverwaltung
        </pzsh-menu-action>
        <pzsh-menu-action href="https://wiki.puzzle.ch/Puzzle/OKRs">
          <pzsh-icon name="question-circle"></pzsh-icon>
          Hilfe
        </a>
      </div>

      <button
        (menuClosed)="menuIsOpen = false"
        (menuOpened)="menuIsOpen = true"
        [matMenuTriggerFor]="menu"
        class="topBarEntry text-white me-5"
        mat-button
      >
        <span class="d-flex align-items-center gap-1">
          <span class="mt-1">
            <mat-icon>person_outline</mat-icon>
          </span>

          <p class="fw-normal fs-6">{{ username | async }}</p>
          <span class="mt-1">
            <mat-icon *ngIf="!menuIsOpen">expand_more</mat-icon>
            <mat-icon *ngIf="menuIsOpen">expand_less</mat-icon>
          </span>
        </span>
      </button>
    </div>

    <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item (click)="logOut()" [attr.data-testId]="'logout'" class="py-2">
        <mat-icon class="scale-9">exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
