<div id="topBarHeight">
  <div id="okrTopbar">
    <pzsh-topbar id="pzsh-topbar">
      <img ngSrc="assets/images/okr-logo.svg" alt="okr-logo" height="32" width="214" />
    </pzsh-topbar>
    <pzsh-menu>
      <div slot="actions">
        <pzsh-menu-action href="https://wiki.puzzle.ch/Puzzle/OKRs">
          <pzsh-icon name="question-circle"></pzsh-icon>
          Help
        </pzsh-menu-action>
        <pzsh-menu-dropdown href="#">
          <div slot="toggle" role="button">
            <pzsh-icon name="user"></pzsh-icon>
            {{ getUserName() }}
          </div>
          <div slot="items">
            <pzsh-menu-dropdown-item (click)="logOut()">
              <pzsh-icon name="sign-out-alt"></pzsh-icon>
              Logout
            </pzsh-menu-dropdown-item>
          </div>
        </pzsh-menu-dropdown>
      </div>
    </pzsh-menu>
  </div>
</div>
