.progressPart {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
}

#progressSpan {
  color: dimgray;
  font-weight: bold;
}

.objectiveProgress {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}
.flex-end {
  justify-content: end;
}

.progress-bar-good .mat-progress-bar-fill::after {
  background-color: green;
}

.progress-bar-medium .mat-progress-bar-fill::after {
  background-color: orange;
}

.progress-bar-bad .mat-progress-bar-fill::after {
  background-color: red;
}

::ng-deep .mat-progress-bar-buffer {
  background: #e4e8eb;
}
