<mat-chip-listbox [ngStyle]="{ height: showMoreTeams ? '100%' : '85px' }" class="d-flex overflow-hidden">
  <button (click)="toggleAll()" class="icon-button team-button focus-outline d-none d-sm-block">
    <mat-chip
      [attr.data-testId]="'team-filter-alle'"
      [highlighted]="activeTeams.length == (this.teams$ | async)?.length"
      color="primary"
      >Alle
    </mat-chip>
  </button>
  <button
    (click)="toggleSelection(team.id)"
    *ngFor="let team of (teams$ | async)?.slice(0, this.showMoreTeams ? undefined : 12); trackBy: trackByFn"
    [attr.data-testId]="'team-filter-chip'"
    class="icon-button focus-outline m-1"
  >
    <mat-chip [highlighted]="activeTeams.includes(team.id)" color="primary">{{ team.name }}</mat-chip>
  </button>
</mat-chip-listbox>
<mat-action-row class="p-0 d-flex justify-content-center align-items-center border-0 d-sm-none">
  <button (click)="this.showMoreTeams = !this.showMoreTeams" class="w-100" color="primary" mat-button>
    {{ this.showMoreTeams ? "Weniger" : "Mehr" }}
  </button>
</mat-action-row>
