<section mat-dialog-title>
  <app-dialog-header
    [dialogTitle]="data.keyResult ? 'Key Result bearbeiten' : 'Key Result erfassen'"
  ></app-dialog-header>
</section>

<mat-dialog-content>
  <div class="d-flex flex-column scroll-shadows">
    <app-key-result-form [keyResultForm]="keyResultForm" [keyResult]="data.keyResult"></app-key-result-form>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="mt-3">
  <div>
    <button
      [attr.data-testId]="'submit'"
      type="submit"
      (click)="saveKeyResult()"
      [disabled]="keyResultForm.invalid || invalidOwner()"
      color="primary"
      mat-flat-button
    >
      Speichern
    </button>
    <button
      *ngIf="!data.keyResult"
      [attr.data-testId]="'saveAndNew'"
      (click)="openNew()"
      mat-stroked-button
      [disabled]="keyResultForm.invalid"
    >
      Speichern & Neu
    </button>
    <button mat-button mat-dialog-close color="primary" [attr.data-testId]="'cancel'">Abbrechen</button>
  </div>
  <button
    color="primary"
    class="delete-button"
    *ngIf="this.data.keyResult"
    [attr.data-testId]="'delete-keyResult'"
    mat-button
    (click)="deleteKeyResult()"
  >
    Key Result löschen
  </button>
</mat-dialog-actions>
