<div class="d-flex w-100 justify-content-center">
  <div class="w-50 border d-flex justify-content-start">
    <mat-card class="w-95">
      <mat-card-content>
        <p><b>Details</b></p>
        <p>{{ this.keyResult.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="w-50">
    <mat-card-content class="w-50">
      <p><b>Letzte Messung</b></p>
      <p>
        <b>{{ keyResult.measure.createdOn | date }}</b>
      </p>
      <p>{{ keyResult.measure.initiatives }}</p>
      <p>{{ keyResult.measure.changeInfo }}</p>
      <p>{{ keyResult.measure.value }} {{ keyResult.unit }}</p>
    </mat-card-content>
  </mat-card>
</div>
