<div class="w-100" cdkTrapFocus cdkTrapFocusAutoCapture="true">
  <ng-container *ngIf="(objective$ | async)?.id && (objective$ | async) as objective; else spinner">
    <div *ngIf="objective" class="d-flex flex-column">
      <div class="w-100 d-flex justify-content-between align-items-center mb-3">
        <span class="title">{{ objective.title }}</span>
        <button
          class="d-flex align-items-center justify-content-center"
          mat-icon-button
          (click)="backToOverview()"
          data-test-id="closeDrawer"
        >
          <mat-icon class="d-flex justify-content-center align-items-center">close</mat-icon>
        </button>
      </div>

      <div class="me-3">
        <p class="sub-title-objective fw-bold mb-1">Beschrieb</p>
        <p class="linebreak" *ngIf="objective.description === ''">-</p>
        <p *ngIf="objective.description !== ''" data-test-id="description" class="linebreak">
          {{ objective.description }}
        </p>

        <div
          class="d-flex align-items-center flex-row justify-content-start mt-4"
          *ngIf="objective.state.toUpperCase() != 'SUCCESSFUL' && objective.state.toUpperCase() != 'NOTSUCCESSFUL'"
        >
          <button
            *ngIf="objective.writeable"
            mat-flat-button
            (click)="openAddKeyResultDialog()"
            [attr.data-testId]="'add-keyResult-objective-detail'"
            mat-button
            color="primary"
            disableRipple="true"
            cdkInitialFocus
          >
            Key Result hinzufügen
          </button>
          <button
            (click)="openEditObjectiveDialog()"
            *ngIf="objective.writeable"
            class="ms-2"
            [attr.data-testId]="'edit-objective'"
            color="primary"
            mat-button
          >
            Objective bearbeiten
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #spinner>
    <div class="spinner-container">
      Objective wird geladen...
      <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
    </div>
  </ng-template>
</div>
