<div class="w-100" cdkTrapFocus cdkTrapFocusAutoCapture="true">
  <ng-container *ngIf="(objective$ | async)?.id && (objective$ | async) as objective; else spinner">
    <div *ngIf="objective" class="d-flex flex-column">
      <div class="w-100 d-flex justify-content-between align-items-center position-relative mb-3">
        <span class="title">{{ objective.title }}</span>
        <button
          class="d-flex justify-content-center align-items-center position-absolute close-button r-0"
          mat-icon-button
          [routerLink]="'/'"
          data-test-id="closeDrawer"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="title fs-6">Beschrieb</div>
      <p data-test-id="description" class="linebreak">{{ objective.description }}</p>
      <section
        class="py-3"
        *ngIf="objective.state.toUpperCase() != 'SUCCESSFUL' && objective.state.toUpperCase() != 'NOTSUCCESSFUL'"
      >
        <button (click)="openAddKeyResultDialog()" mat-button color="primary" disableRipple="true" cdkInitialFocus>
          <mat-icon>add</mat-icon>
          Key Result hinzufügen
        </button>
      </section>
    </div>
  </ng-container>

  <ng-template #spinner>
    <div class="spinner-container">
      Objective wird geladen...
      <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
    </div>
  </ng-template>
</div>
