<mat-dialog-content class="d-flex justify-content-center flex-column mb-2">
  <div class="w-100 d-flex justify-content-start">
    <h1 class="title">Check-in erfassen ({{ currentDate | date: "dd.MM.yyyy" }})</h1>
  </div>
  <p class="fs-6 mt-1">Key Result</p>
  <span *ngIf="keyResult.lastCheckIn?.changeInfo != ''" class="mt-3 ms-3">{{ keyResult.lastCheckIn?.changeInfo }}</span>
  <form [formGroup]="dialogForm" class="d-flex flex-column mt-4" (ngSubmit)="this.saveCheckIn()">
    <!--    Confidence and Value   -->
    <div class="d-flex flex-row w-100">
      <div class="d-flex flex-column w-25">
        <mat-label class="mb-2"
          >Aktueller Wert<span *ngIf="keyResult.unit != 'PERCENT'"> ({{ keyResult.unit }})</span>:
        </mat-label>
        <div class="d-flex flex-column">
          <mat-form-field>
            <input type="text" (focusout)="formatValue()" matInput formControlName="value" />
            <div *ngIf="isTouchedOrDirty('value')">
              <mat-error class="fw-bold error-font" *ngFor="let errorKey of getErrorKeysOfFormField('value')">
                {{ errorMessages[errorKey.toUpperCase()] }}
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex flex-column w-75 justify-content-start align-items-start ms-5">
        <mat-label class="mb-3">Confidence um Target zu erreichen</mat-label>
        <app-confidence [edit]="true" [keyResult]="keyResult"></app-confidence>
      </div>
    </div>
    <app-check-in-base-informations [dialogForm]="dialogForm"></app-check-in-base-informations>
    <!--    Buttons to submit the check-in-->
    <div class="d-flex flex-row">
      <button type="submit" mat-button mat-dialog-close class="submit mb-3 pe-3 pt-1 pb-1 fw-bold text-white">
        Check-in erfassen
      </button>
      <button mat-button mat-dialog-close class="cancel ms-3 mb-3 ps-3 pe-3 pt-1 pb-1 fw-bold">Abbrechen</button>
    </div>
  </form>
</mat-dialog-content>
