<!--    Confidence and Value   -->
<div class="d-flex flex-row w-100 gap-4">
  <div class="d-flex flex-column">
    <mat-label>
      Aktueller Wert<span *ngIf="keyResult.unit != 'PERCENT' && keyResult.unit != 'NUMBER'">
        ({{ keyResult.unit | unitLabelTransformation }})</span
      >:
    </mat-label>
    <div class="d-flex flex-column mb-3">
      <app-custom-input
        [formGroup]="dialogForm"
        [formControlNameGiven]="'value'"
        (focusout)="formatValue()"
        (focusin)="resetValue()"
        [attr.data-testId]="'check-in-metric-value'"
      ></app-custom-input>
      <div *ngIf="isTouchedOrDirty('value')">
        <mat-error *ngFor="let errorKey of getErrorKeysOfFormField('value')">
          <span>{{ errorMessages[errorKey.toUpperCase()] }}</span>
        </mat-error>
      </div>
    </div>
  </div>
</div>
