<div>
  <p><b>Zyklus</b> GJ {{ this.objective.quarterYear }}</p>
  <p>
    <b>Ziel Besitzer</b> {{ this.objective.ownerFirstname }}
    {{ this.objective.ownerLastname }}
  </p>
</div>

<div class="testDiv">
  <div *ngFor="let keyResult of this.keyResultList | async">
    <!--    TODO: Should be replaced with keyResult Row Component-->
    <p>{{ keyResult.title }} Row</p>
    <!--    TODO: Should be integrated in keyResult Row Component-->
    <app-keyresult-detail [keyResult]="keyResult"></app-keyresult-detail>
  </div>
</div>
