.close-icon {
  width: 1.125em;
  height: 1.125em;
}

.key-result-dialog-input {
  min-height: 3.5625em;
}

.save-key-result-button {
  background-color: #1e5a96; //ToDo: Put color into custom bootstrap colors
}

.cancel-key-result-button {
  color: #1e5a96;
}
