.keyresult-overview-container {
  margin: 50px 50px 0 50px;
}

.headline-large {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 10px;
}

.heading-label {
  font-weight: 400;
  font-size: 40px;
  margin-left: 70px;
}

.key-result-overview-text {
  margin-left: 20px;
  width: 50%;
}

.keyresult-detail {
  margin-left: 70px;
}

.back-btn {
  margin: 30px 10px 0 70px;
  p {
    cursor: pointer;
  }
}

.divider {
  color: black;
  width: 95%;
  margin: 20px 25px 20px 25px;
}
