.teamDiv {
  margin-top: 3%;
  padding-right: 3%;
}

.goal-heading {
  font-weight: 400;
  font-size: 28px;
}

.objective-row {
  font-weight: 400;
  font-size: 22px;
}

.objective-rows {
  margin-bottom: 70px;
}
