<h1 class="goal-heading">{{ overview.team.name }}</h1>
<div class="objective-rows">
  <div class="objective-row" *ngFor="let objective of overview.objectives">
    <hr />
    <mat-accordion>
      <app-objective-row
        (onObjectivesListUpdate)="reloadObjectives()"
        [objective]="objective"
      >
      </app-objective-row>
    </mat-accordion>
  </div>
  <button
    mat-stroked-button
    color="primary"
    [routerLink]="['team/' + overview.team.id + '/objectives/new']"
  >
    Objective hinzufügen
  </button>
</div>
