.max-content {
  width: max-content;
}

.fit-content {
  width: fit-content;
}

.title {
  margin-left: 30%;
  margin-bottom: 4vh;
}

.detail {
  margin-top: 5vh;
}

.center {
  margin-left: 22%;
}

.back-btn {
  margin: 30px 10px 0 70px;
  p {
    cursor: pointer;
  }
}

.headline-large {
  margin-left: 70px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
}

.panel-title {
  margin: 30px 0 30px 50px;
  font-weight: 400;
  font-size: 28px;
}

.heading-label {
  font-size: 28px;
  font-weight: 400;
  margin-left: 70px;
}

.form-container {
  margin-left: 10%;
}

.datepicker-div {
  margin-bottom: 20px;
}

.unit-label {
  margin-bottom: 20px;
}

.margin-right {
  margin-right: 90px;
}

.slider-selection {
  display: flex;
  align-content: center;
  align-items: center;
  height: 20px;
  width: 200px;
  margin-right: 20px;
}

.button-margin {
  margin: 10px;
}

.slider-card {
  margin-bottom: 30px;
  margin-left: 100px;
  width: 150px;
}

.divider {
  color: black;
  width: 95%;
  margin: 20px 25px 20px 25px;
}

.keyresult-detail-container {
  display: flex;
}

.diagram {
  margin-right: 70px;
  height: 200px;
  width: 700px;
}

.keyresult-detail {
  margin-left: 70px;
}
