<div (click)="navigateBack()" class="d-flex btn px-4 pt-4 fit-content">
  <mat-icon>chevron_left</mat-icon>
  <p>Zurück</p>
</div>
<p class="fs-2 heading-label my-5">
  {{ this.create ? "Messung hinzufügen" : "Messung bearbeiten" }}
</p>

<div
  class="d-flex align-items-center justify-content-around flex-wrap px-5 gap-2"
>
  <div *ngIf="measure$ | async as measure" class="d-flex">
    <form
      (ngSubmit)="save()"
      [formGroup]="measureForm"
      class="d-flex flex-column fit-content"
    >
      <div
        *ngIf="keyresult$ | async as keyresult"
        class="d-flex align-items-center justify-content-end gap-4"
      >
        <p class="key">Aktueller Wert</p>
        <mat-form-field
          appearance="outline"
          class="form-field-width form-field-height"
        >
          <mat-label>Aktueller Wert</mat-label>
          <input
            [unitValueValidator]="(keyresult$ | async)?.unit!"
            class="value-input"
            formControlName="value"
            matInput
            placeholder="Aktueller Wert"
            type="text"
          />
        </mat-form-field>

        <mat-label class="key"
          ><b>{{ "UNIT." + keyresult.unit | translate }}</b></mat-label
        >
      </div>

      <div
        class="d-flex align-items-center justify-content-end gap-4 datepicker-div margin-right"
      >
        <p class="key">Datum der Messung</p>
        <mat-form-field
          *ngIf="startEndDate$ | async as startEndDate"
          appearance="fill"
        >
          <input
            [matDatepicker]="picker"
            [max]="startEndDate.endDate"
            [min]="startEndDate.startDate"
            formControlName="measureDate"
            matInput
          />
          <!--        readonly-->

          <mat-hint
            >{{ startEndDate.startDate | date: "dd.MM.yyyy" }} –
            {{ startEndDate.endDate | date: "dd.MM.yyyy" }}</mat-hint
          >
          <mat-label>Datum der Messung</mat-label>
          <mat-datepicker-toggle
            [for]="picker"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div
        class="d-flex align-items-center justify-content-end gap-4 margin-right"
      >
        <p class="key">Veränderung seit letzter Messung</p>
        <mat-form-field appearance="outline" class="form-field-width">
          <mat-label>Text hinzufügen</mat-label>
          <textarea
            class="description-textarea"
            formControlName="changeInfo"
            matInput
            placeholder="Text hinzufügen"
            type="text"
          ></textarea>
        </mat-form-field>
      </div>

      <div
        class="d-flex align-items-center justify-content-end gap-4 margin-right"
      >
        <p class="key">Massnahmen</p>
        <mat-form-field appearance="outline" class="form-field-width">
          <mat-label>Text hinzufügen</mat-label>
          <textarea
            class="description-textarea"
            formControlName="initiatives"
            matInput
            placeholder="Text hinzufügen"
            type="text"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="d-flex gap-2 justify-content-end">
        <button
          (click)="navigateBack()"
          class="rounded-5"
          color="primary"
          mat-stroked-button
          type="reset"
        >
          Abbrechen
        </button>

        <button
          [disabled]="!measureForm.valid"
          class="rounded-5 create-button"
          color="primary"
          mat-raised-button
          type="submit"
        >
          {{ this.create ? "Erstellen" : "Aktualisieren" }}
        </button>
      </div>
    </form>
  </div>

  <div class="d-flex">
    <div *ngIf="goal$ | async as goal">
      <app-key-result-description [goal]="goal"></app-key-result-description>
    </div>
  </div>
</div>

<div class="px-5">
  <mat-divider class="my-4"></mat-divider>
  <app-measure-row class="my-4"></app-measure-row>
</div>
