<span class="d-flex back-btn">
  <mat-icon>chevron_left</mat-icon>
  <p (click)="navigateBack()">Zurück</p>
</span>

<p class="fs-2 headline-large">
  {{ this.create ? "Messung hinzufügen" : "Messung bearbeiten" }}
</p>

<mat-divider class="divider"></mat-divider>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="panel-title">Key Result Beschreibung</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="keyresult-detail-container" *ngIf="goal$ | async as goal">
      <div class="row d-flex w-100 keyresult-detail">
        <app-key-result-description [goal]="goal"></app-key-result-description>
      </div>
      <div>
        <div class="diagram">
          <app-diagram [goal]="goal"></app-diagram>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-divider class="divider"></mat-divider>

<app-measure-row></app-measure-row>

<mat-divider class="divider"></mat-divider>

<p class="fs-2 heading-label">
  {{ this.create ? "Messung hinzufügen" : "Messung bearbeiten" }}
</p>

<div *ngIf="measure$ | async as measure" class="d-flex w-100 form-container">
  <form
    (ngSubmit)="save()"
    [formGroup]="measureForm"
    class="d-flex flex-column fit-content"
  >
    <div
      class="d-flex align-items-center justify-content-end gap-4"
      *ngIf="keyresult$ | async as keyresult"
    >
      <p class="fw-bold">Aktueller Wert</p>
      <mat-form-field
        appearance="outline"
        class="form-field-width form-field-height"
      >
        <mat-label>Aktueller Wert</mat-label>
        <input
          [measureValueValidator]="(keyresult$ | async)?.unit!"
          class="value-input"
          formControlName="value"
          matInput
          placeholder="Aktueller Wert"
          type="text"
        />
      </mat-form-field>

      <mat-label class="unit-label"
        ><b>{{ "UNIT." + keyresult.unit | translate }}</b></mat-label
      >
    </div>

    <div
      class="d-flex align-items-center justify-content-end gap-4 datepicker-div margin-right"
    >
      <p class="fw-bold">Datum der Messung</p>
      <mat-form-field
        *ngIf="startEndDate$ | async as startEndDate"
        appearance="fill"
      >
        <input
          matInput
          [min]="startEndDate.startDate"
          [max]="startEndDate.endDate"
          [matDatepicker]="picker"
          formControlName="measureDate"
        />
        <mat-hint
          >{{ startEndDate.startDate | date: "dd.MM.yyyy" }} –
          {{ startEndDate.endDate | date: "dd.MM.yyyy" }}</mat-hint
        >
        <mat-label>Datum der Messung</mat-label>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div
      class="d-flex align-items-center justify-content-end gap-4 margin-right"
    >
      <p class="fw-bold">Veränderung seit letzter Messung</p>
      <mat-form-field appearance="outline" class="form-field-width">
        <mat-label>Text hinzufügen</mat-label>
        <textarea
          class="description-textarea"
          formControlName="changeInfo"
          matInput
          placeholder="Text hinzufügen"
          type="text"
        ></textarea>
      </mat-form-field>
    </div>

    <div
      class="d-flex align-items-center justify-content-end gap-4 margin-right"
    >
      <p class="fw-bold">Massnahmen</p>
      <mat-form-field appearance="outline" class="form-field-width">
        <mat-label>Text hinzufügen</mat-label>
        <textarea
          class="description-textarea"
          formControlName="initiatives"
          matInput
          placeholder="Text hinzufügen"
          type="text"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="d-flex gap-2 justify-content-end">
      <button
        (click)="navigateBack()"
        class="rounded-5"
        color="primary"
        mat-stroked-button
        type="reset"
      >
        Abbrechen
      </button>

      <button
        [disabled]="!measureForm.valid"
        class="rounded-5 create-button"
        color="primary"
        mat-raised-button
        type="submit"
      >
        {{ this.create ? "Erstellen" : "Aktualisieren" }}
      </button>
    </div>
  </form>
</div>
