<span class="d-flex btn px-5 pt-4 fit-content">
  <mat-icon>chevron_left</mat-icon>
  <p (click)="navigateBack()">Zurück</p>
</span>

<div class="px-5">
  <div class="my-4" *ngIf="goal$ | async as goal">
    <app-key-result-description [goal]="goal"></app-key-result-description>
  </div>
  <mat-divider class="my-4"></mat-divider>
</div>

<p class="fs-2 heading-label px-5">
  {{ this.create ? "Messung hinzufügen" : "Messung bearbeiten" }}
</p>

<div *ngIf="measure$ | async as measure" class="form-container">
  <div class="d-flex justify-content-center w-75">
    <form (ngSubmit)="save()" [formGroup]="measureForm" class="d-flex flex-column fit-content">
      <div *ngIf="keyresult$ | async as keyresult" class="d-flex align-items-center justify-content-end gap-4">
        <p class="key" data-testid="measure-form-current-value">
          Aktueller Wert ({{ "UNIT." + keyresult.unit | translate }})
        </p>
        <mat-form-field appearance="outline" class="form-field-width form-field-height">
          <mat-label>Aktueller Wert</mat-label>
          <input
            [unitValueValidator]="(keyresult$ | async)?.unit!"
            class="value-input"
            formControlName="value"
            matInput
            placeholder="Aktueller Wert"
            type="text"
          />
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center justify-content-end gap-4 datepicker-div">
        <p class="key">Datum der Messung</p>
        <mat-form-field
          *ngIf="startEndDate$ | async as startEndDate"
          appearance="fill"
          class="form-field-width form-field-height"
        >
          <input
            [matDatepicker]="picker"
            [max]="startEndDate.endDate"
            [min]="startEndDate.startDate"
            formControlName="measureDate"
            matInput
          />
          <!--        readonly-->

          <mat-hint
            >{{ startEndDate.startDate | date: "dd.MM.yyyy" }} –
            {{ startEndDate.endDate | date: "dd.MM.yyyy" }}</mat-hint
          >
          <mat-label>Datum der Messung</mat-label>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center justify-content-end gap-4">
        <p class="key">Veränderung seit letzter Messung</p>
        <mat-form-field appearance="outline" class="form-field-width">
          <mat-label>Text hinzufügen</mat-label>
          <textarea
            class="description-textarea"
            formControlName="changeInfo"
            matInput
            cdkTextareaAutosize
            placeholder="Text hinzufügen"
            type="text"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center justify-content-end gap-4">
        <p class="key">Massnahmen</p>
        <mat-form-field appearance="outline" class="form-field-width">
          <mat-label>Text hinzufügen</mat-label>
          <textarea
            class="description-textarea"
            formControlName="initiatives"
            matInput
            cdkTextareaAutosize
            placeholder="Text hinzufügen"
            type="text"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="d-flex gap-2 justify-content-end buttons">
        <span></span>
        <span>
          <button (click)="navigateBack()" class="rounded-5 me-2" color="primary" mat-stroked-button type="reset">
            Abbrechen
          </button>

          <button
            [disabled]="!measureForm.valid"
            class="rounded-5 create-button"
            color="primary"
            mat-raised-button
            type="submit"
          >
            {{ this.create ? "Erstellen" : "Aktualisieren" }}
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="px-5">
  <mat-divider class="my-4"></mat-divider>
  <app-measure-row [open]="true" class="my-4"></app-measure-row>
</div>
