#progressSpan {
  color: dimgray;
  font-weight: bold;
}

.objectiveProgress {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.delete-icon {
  margin-top: 15px;
  height: 20px;
  width: 20px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.margin-left {
  margin-left: 50%;
}

.objective-title {
  font-weight: 400;
  font-size: 22px;
  margin-top: auto;
  margin-bottom: auto;
}

.create-button {
  margin-top: 20px;
}

.mat-expansion-panel-header {
  height: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
}

.mat-panel-description {
  display: flex;
  justify-content: space-between;
}

#progressContainer {
  flex-grow: 1;
}
