#progressSpan {
  color: dimgray;
  font-weight: bold;
}

.objectiveProgress {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.margin-left {
  margin-left: 50%;
}

.objective-title {
  font-weight: 400;
  font-size: 22px;
}

.objective-row-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;

  & button {
    cursor: pointer;
    border-radius: 20px;
  }
}
