#progressSpan {
  color: dimgray;
  font-weight: bold;
}

.objectiveProgress {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.margin-left {
  margin-left: 50%;
}

.objective-title {
  font-weight: 400;
  font-size: 22px;
}

.create-button {
  margin-top: 20px;
}
