body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.key {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.value {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.form-field-width {
  width: 15em;
}

.form-field-height {
  height: 5em;
}

.outer-cards {
  border: 1px solid #dddddd !important;
  background-color: #f0f0f0;
}

.inner-cards {
  border: 1px solid #dddddd !important;
  background-color: #f9f9f9;
}
