body {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.key {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.value {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.form-container {
  margin-left: 10%;
}

.fit-content {
  width: fit-content;
}

.form-field-width {
  width: 40em;
}

.form-field-height {
  height: 5em;
}

.heading-label {
  font-size: 28px;
  font-weight: 400;
  padding-left: 70px;
  margin-bottom: 40px !important;
  margin-top: 0px !important;
}

.buttons {
  margin-bottom: min(10px);
}

.outer-cards {
  border: 1px solid #dddddd !important;
  background-color: #f0f0f0;
}

.inner-cards {
  border: 1px solid #dddddd !important;
  background-color: #f9f9f9;
}
html {
  scroll-behavior: auto !important;
}

.help-dialog-custom-panel-class > mat-dialog-container {
  background-color: #1e5a96;
}

.close-button-help-dialog .mat-button-focus-overlay {
  background-color: transparent !important;
}

.help-icon {
  padding-bottom: 1rem;
  cursor: pointer;
  color: dimgrey;
}

.red-progress {
  color: #ff1a0c !important;
}

.version {
  color: #7f7f7f;
  display: block;
  margin-left: 3rem;
  width: 100%;
  bottom: 1rem;
  position: relative;
}

.staging-banner {
  color: black;
  display: flex;
  margin-top: 1rem;
  font-size: 5rem;
  font-weight: bold;
  background-color: cadetblue;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
}
