.keyresult-overview-container {
  margin: 50px 50px 0 50px;
}

.headline-large {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  margin-left: 10px;
}

.key-result-overview-text {
  margin-left: 20px;
  width: 50%;
}

.row {
  display: grid;
  grid-template-columns: auto auto;
}

.column {
  height: max-content;
}
