@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./Roboto/RobotoFlex-Regular.ttf') format('ttf'),
  url('./Roboto/RobotoFlex-Regular.woff2') format('woff2'),
  url('./Roboto/RobotoFlex-Regular.woff') format('woff');
}
