@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src:
    url('./Roboto/RobotoFlex-Regular.woff2') format('woff2'),
    url('./Roboto/RobotoFlex-Regular.woff') format('woff'),
    url('./Roboto/RobotoFlex-Regular.ttf') format('truetype');
}
