@font-face {
  font-family: Roboto, sans-serif;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('./Roboto/Roboto-Regular.ttf') format('ttf'),
  url('./Roboto/Roboto-Regular.woff2') format('woff2'),
  url('./Roboto/Roboto-Regular.woff') format('woff');
}
