.column-width {
  flex-grow: 1;
  min-width: 320px;
  max-width: 576px !important;
  flex-wrap: wrap;
}

#organisation-warning {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-title {
  color: var(--okr-team-header-color);
}

#add-objective {
  color: var(--okr-add-objective-text-color);
}
