<div id="okrBanner" #okrBanner>
  <div class="d-flex flex-row">
    <div class="w-100 h-100 m-0 d-flex" slot="content">
      <section class="d-none d-md-flex">
        <div class="header-content h-100 m-0 pt-3 pb-3 d-flex gap-2 flex-column container-fluid">
          <div class="d-flex align-items-end gap-2">
            <span class="d-flex flex-column">
              <p class="mb-2">Quartal</p>
              <app-quarter-filter></app-quarter-filter>
            </span>
            <app-objective-filter></app-objective-filter>
          </div>
          <app-team-filter></app-team-filter>
        </div>
      </section>

      <section class="m-0 d-sm-flex d-md-none w-100">
        <mat-accordion [displayMode]="'flat'" class="w-100">
          <mat-expansion-panel
            (closed)="panelOpenState = false"
            (opened)="panelOpenState = true"
            id="header-accordion"
            class="content-center"
          >
            <mat-expansion-panel-header
              class="d-flex justify-content-center gap-2 mx-3"
              [attr.data-testId]="'expansion-panel-header'"
            >
              <mat-panel-title>
                <div class="w-100 d-flex justify-content-between expansion-panel-title">
                  <span *ngIf="!panelOpenState; else openedPanel">{{
                    (quarterLabel$ | async) || quarterLabel$.getValue()
                  }}</span>
                  <span *ngIf="!panelOpenState">Filter</span>
                </div>
                <ng-template #openedPanel><p>Filter</p></ng-template>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex gap-2 flex-column filter-container">
              <app-objective-filter></app-objective-filter>
              <app-quarter-filter (quarterLabel$)="quarterLabel$.next($event)"></app-quarter-filter>
              <app-team-filter id="team-filter" class="m-2"></app-team-filter>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </section>
    </div>
    <div class="d-flex justify-content-end d-none d-md-flex">
      <app-okr-tangram [attr.data-testId]="'okr-logo'"></app-okr-tangram>
    </div>
  </div>
</div>
