<app-dialog-header mat-dialog-title [dialogTitle]="getDialogTitle()"></app-dialog-header>

<mat-dialog-content>
  <form [formGroup]="teamForm" class="okr-dialog-form">
    <div class="input-style gap-2 col-12">
      <label class="text-black" for="name">Teamname</label>
      <input
        matInput
        [attr.data-testId]="'add-team-name'"
        class="dialog-form-field"
        [ngClass]="formInputCheck(teamForm, 'name')"
        formControlName="name"
        id="name"
      />
      <mat-error *ngIf="hasFormFieldErrors(teamForm, 'name')">
        <span>{{ getErrorMessage("SIZE_BETWEEN", "Teamname", 2, 250) }}</span>
      </mat-error>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="okr-dialog-action-group">
    <button
      [attr.data-testId]="'add-team-save'"
      [disabled]="teamForm.invalid"
      color="primary"
      mat-flat-button
      type="submit"
      (click)="saveTeam()"
    >
      Speichern
    </button>
    <button color="primary" mat-button mat-dialog-close>Abbrechen</button>
  </div>
</mat-dialog-actions>
