@import "../style/variables";

.input-fields {
  margin-bottom: 0.5rem;
}

mat-select {
  outline: 1px solid #a4a4af;
  padding: 0.437rem 0.625rem 0.375rem 0.2rem !important;
}

mat-select:hover {
  outline: 1px solid #5d6974;
  overflow-y: visible;
}
