<app-dialog-template-core [title]="getDialogTitle((this.currentTeam | async)?.name || '')">
  <ng-container content>
    <form [formGroup]="objectiveForm">
      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col" for="title">Titel</label>
        <div class="okr-form-input">
          <textarea
            [attr.data-testId]="'title'"
            class="big-dialog-form-field"
            [ngClass]="formInputCheck(objectiveForm, 'title')"
            formControlName="title"
            id="title"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(objectiveForm, 'title')">
            <span>{{ getErrorMessage("SIZE_BETWEEN", "Titel", 2, 250) }}</span>
          </mat-error>
        </div>
      </div>

      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col" for="title">Beschreibung (optional)</label>
        <div class="okr-form-input">
          <textarea
            [attr.data-testId]="'description'"
            formControlName="description"
            class="big-dialog-form-field"
            [ngClass]="formInputCheck(objectiveForm, 'description')"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(objectiveForm, 'description')">
            <span>{{ getErrorMessage("MAX_VALUE", "Beschreibung", 4096, null) }}</span>
          </mat-error>
        </div>
      </div>

      <div class="okr-form-row row-cols-1 row-cols-md-2 gx-2">
        <div class="col">
          <div class="okr-form-row okr-form-label-input-container">
            <label class="okr-form-label okr-form-col" for="quarter">Quartal</label>
            <div class="okr-form-input pe-5">
              <select
                class="custom-select bg-white"
                formControlName="quarter"
                id="quarter"
                (change)="updateAlignments()"
              [attr.data-testId]="'quarterSelect'"
            >
              <ng-container *ngFor="let quarter of quarters$ | async; let i = index">
                <option *ngIf="allowedOption(quarter)" [value]="quarter.id">
                  {{ quarter.fullLabel() }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>

          <div class="d-flex flex-column gap-2 col-6">
            <label class="text-black">Bezug (optional)</label>
            <input
              #alignmentInput
              type="text"
              formControlName="alignment"
              class="alignment-input"
              placeholder="{{
                (this.filteredAlignmentOptions$ | async)?.length == 0 ? 'Kein Alignment vorhanden' : 'Bezug wählen'
              }}"
              [matAutocomplete]="auto"
              [attr.data-testId]="'alignmentInput'"
              (input)="filter()"
              (focus)="filter(); alignmentInput.select()"
              (focusout)="scrollLeft()"
              [value]="displayedValue"
            />
            <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayWith">
              @for (group of filteredAlignmentOptions$ | async; track group) {
                <mat-optgroup [label]="group.teamName" style="font-weight: bold">
                  @for (alignmentObject of group.alignmentObjects; track alignmentObject) {
                    <mat-option [value]="alignmentObject">{{ alignmentObject.objectTitle }}</mat-option>
                  }
                </mat-optgroup>
              }
            </mat-autocomplete>
          </div>
        </div>
        </div>
        <div class="col align-self-end">
          <div class="okr-form-row">
            <mat-checkbox
          [attr.data-testId]="'keyResult-checkbox'"
          class="col-auto mx-n2"
          color="primary"
          formControlName="createKeyResults"
          *ngIf="!data.objective.objectiveId"
        >
          <p class="col d-flex">Key Results im Anschluss erfassen</p>
        </mat-checkbox>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container actions>
    <div class="col-auto">
      <button
        *ngIf="!data.objective.objectiveId"
        [disabled]="objectiveForm.invalid"
        color="primary"
        mat-flat-button
        (click)="onSubmit('DRAFT')"
        type="submit"
        [attr.data-testId]="'safe-draft'"
      >
        Als Draft speichern
      </button>
      <button
        *ngIf="allowedToSaveBacklog()"
        [disabled]="objectiveForm.invalid || !allowedToSaveBacklog()"
        color="primary"
        mat-stroked-button
        type="submit"
        (click)="onSubmit('ONGOING')"
        [attr.data-testId]="'safe'"
      >
        Speichern
      </button>
      <button color="primary" mat-button mat-dialog-close [attr.data-testId]="'cancel'">Abbrechen</button>
    </div>

    <div class="col-auto" *ngIf="data.objective.objectiveId && data.action != 'duplicate'">
      <button color="primary" type="button" mat-button (click)="deleteObjective()" [attr.data-testId]="'delete'">
        Objective Löschen
      </button>
    </div>
  </ng-container>
</app-dialog-template-core>
