.team-container {
  background-color: rgb(245, 245, 245);
  height: 56px;
  border-bottom: 1px gray solid;
}

.custom-text-wrap {
  width: max-content;
}

.delete-button {
  margin-left: auto;
}

.add-keyresult {
  // Select is aligned with label and it's not easy to align checkbox to select
  margin-top: -3px;
}

@media only screen and (min-width: 820px) {
  .quarter-keyresult {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}

@media only screen and (max-width: 780px) {
  .add-keyresult {
    margin-left: -10px;
  }
}

@media only screen and (max-width: 400px) {
  .mat-mdc-dialog-actions .mat-button-base + .mat-button-base,
  .mat-mdc-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base {
    margin-left: 0;
  }
}
