<app-dialog-template-core [title]="getDialogTitle((this.currentTeam | async)?.name || '')">
  <ng-container content>
    <form [formGroup]="objectiveForm">
      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col" for="title">Titel</label>
        <div class="okr-form-input">
          <textarea
            [attr.data-testId]="'title'"
            class="big-dialog-form-field"
            [ngClass]="formInputCheck(objectiveForm, 'title')"
            formControlName="title"
            id="title"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(objectiveForm, 'title')">
            <span>{{ getErrorMessage("SIZE_BETWEEN", "Titel", 2, 250) }}</span>
          </mat-error>
        </div>
      </div>

      <div class="okr-form-row okr-form-label-input-container">
        <label class="okr-form-label okr-form-col" for="title">Beschreibung (optional)</label>
        <div class="okr-form-input">
          <textarea
            [attr.data-testId]="'description'"
            formControlName="description"
            class="big-dialog-form-field"
            [ngClass]="formInputCheck(objectiveForm, 'description')"
          ></textarea>
          <mat-error *ngIf="hasFormFieldErrors(objectiveForm, 'description')">
            <span>{{ getErrorMessage("MAX_VALUE", "Beschreibung", 4096, null) }}</span>
          </mat-error>
        </div>
      </div>

      <div class="okr-form-row row-cols-1 row-cols-md-2 gx-2">
        <div class="col">
          <div class="okr-form-row okr-form-label-input-container">
            <label class="okr-form-label okr-form-col" for="quarter">Quartal</label>
            <div class="okr-form-input pe-5">
              <select
                class="custom-select bg-white"
                formControlName="quarter"
                id="quarter"
                [attr.data-testId]="'quarterSelect'"
              >
                <ng-container *ngFor="let quarter of quarters$ | async; let i = index">
                  <option *ngIf="allowedOption(quarter)" [value]="quarter.id">
                    {{ quarter.fullLabel() }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>
        <div class="col align-self-end">
          <div class="okr-form-row">
            <mat-checkbox
              [attr.data-testId]="'keyResult-checkbox'"
              class="col-auto mx-n2"
              color="primary"
              formControlName="createKeyResults"
              *ngIf="!data.objective.objectiveId"
            >
              <p class="col d-flex">Key Results im Anschluss erfassen</p>
            </mat-checkbox>
          </div>
        </div>
        <div class="col align-self-end w-100">
          <div class="okr-form-row okr-form-label-input-container w-100">
            <label class="okr-form-label okr-form-col" for="keyresults">Keyresults übernehmen</label>
            <div class="okr-form-input pe-5 w-100">
              <ng-container *ngIf="keyResults$ | async as keyResults" formArrayName="keyResults">
                <mat-checkbox
                  *ngFor="let keyResult of keyResults; let i = index"
                  [formControlName]="i"
                  id="keyresults-{{ i }}"
                >
                  {{ keyResult.title }}
                </mat-checkbox>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container actions>
    <div class="col-auto">
      <button
        *ngIf="!data.objective.objectiveId"
        [disabled]="objectiveForm.invalid"
        color="primary"
        mat-flat-button
        (click)="onSubmit('DRAFT')"
        type="submit"
        [attr.data-testId]="'save-draft'"
      >
        Als Draft speichern
      </button>
      <button
        *ngIf="allowedToSaveBacklog()"
        [disabled]="objectiveForm.invalid || !allowedToSaveBacklog()"
        color="primary"
        mat-stroked-button
        type="submit"
        (click)="onSubmit('ONGOING')"
        [attr.data-testId]="'save'"
      >
        Speichern
      </button>
      <button color="primary" mat-button mat-dialog-close [attr.data-testId]="'cancel'">Abbrechen</button>
    </div>

    <div class="col-auto" *ngIf="data.objective.objectiveId && data.action != 'duplicate'">
      <button color="primary" type="button" mat-button (click)="deleteObjective()" [attr.data-testId]="'delete'">
        Objective Löschen
      </button>
    </div>
  </ng-container>
</app-dialog-template-core>
