.team-container {
  background-color: rgb(245, 245, 245);
  height: 56px;
  border-bottom: 1px gray solid;
}

.custom-text-wrap {
  width: max-content;
}

.add-keyresult {
  // Select is aligned with label and it's not easy to align checkbox to select
  margin-left: -10px;
}

.add-keyresult-text {
  margin: 0;
}

@media only screen and (min-width: 820px) {
  .quarter-keyresult {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}

.dialog-content {
  max-height: 35vh;
}

.select-width {
  width: 92%;
}

.mat-mdc-option {
  margin-bottom: 5px;
}

.alignment-input {
  border: solid 1px #909090;
  padding: 0.44rem 0.625rem 0.375rem 0.625rem;
  cursor: pointer;
  height: 1.18rem;
  box-sizing: content-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
