<div mat-dialog-content>
  <app-dialog-header
    *ngIf="!data.objective.objectiveId"
    [dialogTitle]="'Objective für ' + this.currentTeam.name + ' erfassen'"
  ></app-dialog-header>
  <app-dialog-header
    *ngIf="data.objective.objectiveId"
    [dialogTitle]="'Objective von ' + this.currentTeam.name + ' bearbeiten'"
  ></app-dialog-header>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <form (ngSubmit)="onSubmit($event)" [formGroup]="objectiveForm" class="d-flex flex-column flex-wrap container p-0">
      <div class="d-flex flex-column gap-2 col-12">
        <label class="text-black" for="title">Titel</label>
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="dialog-form-fields">
          <textarea cdkFocusInitial formControlName="title" id="title" matInput></textarea>
        </mat-form-field>
        <span *ngIf="isTouchedOrDirty('title')">
          <mat-error *ngFor="let errorKey of getErrorKeysOfFormField('title')">
            {{ errorMessages[errorKey.toUpperCase().trim()] }}
          </mat-error>
        </span>
      </div>

      <div class="d-flex flex-column gap-2 col-12">
        <label class="text-black" for="title">Beschreibung (optional)</label>
        <mat-form-field appearance="outline" class="dialog-form-fields" subscriptSizing="dynamic">
          <textarea formControlName="description" matInput></textarea>
        </mat-form-field>
        <span *ngIf="isTouchedOrDirty('description')">
          <mat-error *ngFor="let errorKey of getErrorKeysOfFormField('description')">
            {{ errorMessages[errorKey.toUpperCase().trim()] }}
          </mat-error>
        </span>
      </div>

      <div class="d-flex align-items-center row">
        <div class="d-flex flex-column gap-2 col-6">
          <label class="text-black" for="quarter">Quartal</label>
          <mat-form-field>
            <mat-select formControlName="quarter" id="quarter">
              <mat-option *ngFor="let quarter of quarters$ | async" [value]="quarter.id">
                {{ quarter.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-checkbox
          class="d-flex align-items-center col-5 custom-text-wrap mt-3"
          color="primary"
          formControlName="createKeyResults"
          *ngIf="!data.objective.objectiveId"
        >
          Key Results im Anschluss erfassen
        </mat-checkbox>
      </div>
      <div class="d-flex justify-content-between" mat-dialog-actions>
        <div class="d-flex gap-2 p-0">
          <button [disabled]="objectiveForm.invalid" color="primary" mat-flat-button type="submit" submitType="ONGOING">
            Speichern
          </button>
          <button
            *ngIf="!data.objective.objectiveId"
            [disabled]="objectiveForm.invalid"
            color="dark"
            t
            mat-stroked-button
            submitType="DRAFT"
            type="submit"
          >
            Als Draft speichern
          </button>
          <button color="primary" mat-button mat-dialog-close>Abbrechen</button>
        </div>
        <button color="primary" *ngIf="data.objective.objectiveId" type="button" mat-button (click)="deleteObjective()">
          Objective Löschen
        </button>
      </div>
    </form>
  </div>
</div>
