.team-container {
  background-color: rgb(245, 245, 245);
  height: 56px;
  border-bottom: 1px gray solid;
}
.custom-text-wrap {
  width: max-content;
}

@media only screen and (min-width: 820px) {
  .quarter-keyresult {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}
