.team-container {
  background-color: rgb(245, 245, 245);
  height: 56px;
  border-bottom: 1px gray solid;
}
.custom-text-wrap {
  width: max-content;
}

.add-keyresult {
  // Select is aligned with label and it's not easy to align checkbox to select
  margin-top: -3px;
}

@media only screen and (min-width: 820px) {
  .quarter-keyresult {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}

.delete-button {
  margin-left: auto;
}
