<div class="mb-2" cdkTrapFocus="true">
  <div class="d-flex justify-content-between">
    <h5 class="mb-2 title">{{keyResult.title}}</h5>
    <button mat-icon-button (click)="closeDrawer()"><mat-icon>close</mat-icon></button>
  </div>
  <div class="d-flex justify-content-between keyresultHeader">
    <div>
      <p>{{keyResult.keyResultType}}</p>
    </div>
    <div>
      <p>Owner Owner</p>
    </div>
    <div>
      <p>{{keyResult.createdOn | date:'shortDate'}} - {{keyResult.modifiedOn | date:'shortDate'}}</p>
    </div>
  </div>
</div>
