<div class="mb-2 keyresult-content" cdkTrapFocus="true">
  <div class="d-flex justify-content-between">
    <h1 class="mb-2 title">{{keyResult.title}}</h1>
    <button mat-icon-button (click)="closeDrawer()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="d-flex justify-content-between keyresult-header">
    <div>
      <p>{{keyResult.keyResultType}}</p>
    </div>
    <div class="d-flex">
      <mat-icon class="person-icon">person</mat-icon>
      <p>Owner Owner</p>
    </div>
    <div>
      <p>{{keyResult.createdOn | date:'dd.MM.yyy'}} - {{keyResult.modifiedOn | date:'dd.MM.yyy'}}</p>
    </div>
  </div>
  <div class="mb-3">
    <h2 class="sub-title-keyresult">Letztes Check-in ({{keyResult.lastCheckIn?.createdOn | date: 'dd.MM.yyy'}})</h2>
    <p>Lorem Ipsum blabllalablbalala</p>
  </div>
  <div>
    <h2 class="sub-title-keyresult">Beschrieb</h2>
    <p>{{keyResult.description}}</p>
  </div>
</div>
