.keyresult-content {
  font-family: Roboto, serif;
}

.keyresult-header {
  font-size: 0.75rem;
}

.sub-title-keyresult {
  font-size: 1rem;
}

.save-keyresult {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Dark-Blue, #1E5A96);
  background: var(--Dark-Blue, #1E5A96);
  font-size: 0.75rem;
  padding: 0.375rem 0.75rem;
}

.text-button-font {
  color: var(--Green-Blue-Crayola, #238BCA);
  font-size: 0.75rem;
}
