@import "_variables";

.keyResult-detail-attribute-show {
  background-color: $show-element;
  height: 100%;
  font-size: 0.85rem;
}

.sub-title-keyresult-detail {
  font-size: 1.1rem;
}

.ordinal-zone-title {
  font-size: 1.1rem;
}

.scoring-detail {
  width: 81.5%;
}

.ordinal-col {
  width: 30%;
}

.metric-col {
  width: 100%;
}

.ordinal-box {
  word-break: break-word;
}

.action-checkbox {
  height: 12px;
  width: 12px;
  margin-bottom: 3px;
}

.scoring-section {
  display: flex;
  justify-content: space-between;
}

.metric-label-div {
  flex-direction: row;
  column-gap: 3.33%;
}

@media screen and (max-width: 1240px) {
  .scoring-detail {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .metric-label-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
  }

  .ordinal-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 10px;
    margin-bottom: 0 !important;
  }
  .ordinal-col {
    width: 100%;
  }

  .keyResult-detail-attribute-show {
    height: auto;
  }

  .confidence-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.065rem !important;
  }
}

.action-list-item {
  text-indent: -1.1rem;
}

.action-list-checked-item {
  text-indent: -1.3rem;
}
