.keyresult-content {
  font-family: Roboto, serif;
}

.keyresult-header {
  font-size: 0.75rem;
}

.person-icon {
  transform: scale(0.6);
}

.sub-title-keyresult {
  font-size: 1rem;
  font-weight: 700;
}
