@import "_variables";

.keyResult-detail-attribute-show {
  background-color: $show-element;
  height: 100%;
  font-size: 0.85rem;
}

.sub-title-keyresult {
  font-size: 1.1rem;
}

.ordinal-zone-title {
  font-size: 1.1rem;
}

.scoring-detail {
  width: 81%;
}

.confidence-container {
  width: 19%;
}

.ordinal-scoring-boxes {
  width: 31%;
}

.ordinal-col {
  width: 30%;
}

.metric-col {
  width: 100%;
}

.ordinal-box {
  line-break: normal;
}

.action-checkbox {
  height: 12px;
  width: 12px;
  margin-bottom: 3px;
}

.scoring-section {
  display: flex;
  justify-content: space-between;
}

.metric-label-div {
  flex-direction: row;
  column-gap: 3.33%;
}

@media screen and (max-width: 1240px) {
  .scoring-detail {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .metric-label-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
  }
}
