.w-35 {
  width: max(35%);
}

.w-65 {
  width: max(65%);
}

.objective-cycle {
  margin-top: 15px;
}
.owner {
  padding-inline-start: 0.7rem;
}

.progress-box {
  padding-inline-start: 1rem;
}

.keyresult-tabletitel {
  padding-inline-start: 1.8rem;
}

p {
  margin-top: 15px;
}
.table-title {
  margin-top: 15px;
  margin-bottom: 5px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
