<div class="teamlist-container">
  <p class="headline-large">
    {{ !this.id ? "Team erstellen" : "Team Name bearbeiten" }}
  </p>

  <form (ngSubmit)="save()" [formGroup]="teamForm" class="d-flex flex-column fit-content">
    <mat-form-field appearance="outline" class="form-field-width form-field-height">
      <mat-label>Teamname</mat-label>
      <input
        [value]="(this.teamObject | async)?.name"
        formControlName="name"
        matInput
        placeholder="z.B. DevTree"
        type="text"
      />
    </mat-form-field>

    <div class="d-flex gap-3">
      <button class="rounded-5 cancel-button" color="primary" mat-stroked-button type="reset" (click)="navigateBack()">
        Abbrechen
      </button>

      <button
        class="rounded-5 create-button"
        color="primary"
        mat-raised-button
        type="submit"
        [disabled]="!teamForm.valid"
      >
        {{ !this.id ? "Speichern" : "Änderungen speichern" }}
      </button>
    </div>
  </form>
</div>
