<app-dialog-template-core>
  <ng-container title>
    {{ this.data.dialogTitle }}
  </ng-container>

  <ng-container content>
    @if (data.dialogText) {
      <div class="mb-3">
        <span class="dialog-text">{{ this.data.dialogText }}</span>
      </div>
    }
  </ng-container>

  <ng-container actions>
    <div class="okr-dialog-action-group">
      <button color="primary" [attr.data-testId]="'cancelDialog-confirm'" (click)="closeAndConfirm()" mat-flat-button>
        Ja
      </button>
      <button mat-button mat-dialog-close [attr.data-testId]="'cancelDialog-cancel'">Abbrechen</button>
    </div>
  </ng-container>
</app-dialog-template-core>
