@import "_variables";

.objective {
  max-width: 750px;
  box-shadow:
    0px 2px 4px 0px rgba(0, 0, 0, 0.1),
    0px 7px 7px 0px rgba(0, 0, 0, 0.09),
    0px 15px 9px 0px rgba(0, 0, 0, 0.05),
    0px 27px 11px 0px rgba(0, 0, 0, 0.01),
    0px 42px 12px 0px rgba(0, 0, 0, 0);
  &:hover {
    box-shadow:
      2px 8px 19px 0px rgba(0, 0, 0, 0.1),
      10px 33px 34px 0px rgba(0, 0, 0, 0.09),
      22px 73px 46px 0px rgba(0, 0, 0, 0.05),
      40px 130px 54px 0px rgba(0, 0, 0, 0.01),
      62px 203px 59px 0px rgba(0, 0, 0, 0);
  }
}

.three-dot-menu {
  color: $pz-dark-blue;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 35px;
  height: 32px;

  &:hover {
    border-radius: 1rem;
    background-color: lightgray;
  }
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 2px;
  margin-left: 4px;
}
