.objective:hover {
  box-shadow:
    0 0 0 0 rgba(0, 0, 0, 0.06),
    1px 1px 2px 0 rgba(0, 0, 0, 0.06),
    3px 3px 4px 0 rgba(0, 0, 0, 0.05),
    8px 6px 6px 0 rgba(0, 0, 0, 0.03),
    14px 11px 7px 0 rgba(0, 0, 0, 0.01),
    21px 18px 8px 0 rgba(0, 0, 0, 0);
}
