<div (click)="openObjectiveDetail()" role="button" class="objective rounded-3 bg-white">
  <span class="col">
    <img src="assets/icons/objective-indicator.svg" alt="An indicator that indicates, that this is an objective" />
  </span>
  <div class="row mx-1">
    <section class="d-flex justify-content-between mb-3">
      <img
        (click)="$event.stopPropagation()"
        data-testid="objective-state"
        class="icon col-1 default-cursor"
        alt="A status indicator that indicates the progress and state of this objective"
        [src]="'../../assets/icons/' + objective.state"
      />
      <header class="title col-10 ps-2 pt-1">{{ objective.title }}</header>
      <img
        data-testid="objective-menu"
        [matMenuTriggerFor]="objectiveMenu"
        (click)="$event.stopPropagation()"
        class="col-1 icon"
        src="assets/icons/threedot.svg"
        alt="A three-dot-menu button"
      />
    </section>
    <section class="d-flex gap-3 pe-0 row">
      <app-keyresult
        *ngFor="let keyResult of objective.keyResults"
        (click)="$event.stopPropagation()"
        [keyResult]="keyResult"
        class="pe-0"
      ></app-keyresult>
    </section>
    <section class="py-3">
      <a class="anchor d-flex" role="button" (click)="$event.stopPropagation()">
        <img src="../../assets/icons/new-icon.svg" alt="Add key-result button" />
        <p class="add-button-text">Key Result hinzufügen</p>
      </a>
    </section>
  </div>
</div>
<mat-menu class="pt-2 pb-2" #objectiveMenu="matMenu" xPosition="before" yPosition="below">
  <button
    mat-menu-item
    class="menu-option"
    (click)="redirect(menuEntry); $event.stopPropagation()"
    *ngFor="let menuEntry of menuEntries"
  >
    {{ menuEntry.displayName }}
  </button>
</mat-menu>
