<div
  (click)="openObjectiveDetail()"
  tabindex="0"
  (keydown.enter)="openObjectiveDetail()"
  role="button"
  class="objective rounded-3 bg-white"
>
  <span class="col">
    <img
      class="d-flex"
      src="assets/icons/objective-indicator.svg"
      alt="An indicator that indicates, that this is an objective"
    />
  </span>
  <div class="row mx-1">
    <section class="d-flex justify-content-between mb-3">
      <img
        alt="The objectives state"
        (click)="$event.stopPropagation()"
        matTooltip="The objectives state is {{ objective.value.state.split('-')[0] | uppercase }}"
        matTooltipPosition="above"
        data-testid="objective-state"
        class="icon col-1 mt-1"
        [src]="'assets/icons/' + objective.value.state"
      />
      <header class="title col-10 ps-2">{{ objective.value.title }}</header>

      <button
        class="icon-button three-dot-menu"
        [matMenuTriggerFor]="objectiveMenu"
        (click)="$event.stopPropagation()"
        data-testid="objective-menu"
        (keydown.enter)="$event.stopPropagation()"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </section>
    <section class="d-flex gap-3 px-3 flex-column">
      <app-keyresult
        *ngFor="let keyResult of (objective | async)?.keyResults"
        class="border-0 p-0"
        [keyResult]="keyResult"
      ></app-keyresult>
    </section>
    <section class="py-3">
      <button
        *ngIf="!isComplete"
        mat-button
        color="primary"
        class="fw-bold"
        (click)="$event.stopPropagation(); openAddKeyResultDialog()"
      >
        <img src="assets/icons/new-icon.svg" alt="Add key-result button" />
        Key Result hinzufügen
      </button>
    </section>
  </div>
</div>
<mat-menu class="pt-2 pb-2" #objectiveMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item class="menu-option" (click)="redirect(menuEntry)" *ngFor="let menuEntry of menuEntries">
    {{ menuEntry.displayName }}
  </button>
</mat-menu>
