<div class="objective rounded-3 bg-white container">
  <span class="col">
    <img src="assets/icons/objective-indicator.svg" alt="An indicator that indicates, that this is an objective" />
  </span>
  <div class="row ps-2">
    <header class="d-flex">
      <img
        data-testid="objective-state"
        class="icon col-1"
        alt="A status indicator that indicates the progress and state of this objective"
        [src]="'../../assets/icons/' + objective.state"
      />
      <div class="title col-10 ps-2 pt-1">{{ objective.title }}</div>
      <img
        data-testid="objective-menu"
        [matMenuTriggerFor]="objectiveMenu"
        class="col-1 icon"
        src="assets/icons/threedot.svg"
        alt="A three-dot-menu button"
      />
    </header>
    <app-keyresult *ngFor="let keyResult of objective.keyresults" [keyResult]="keyResult"></app-keyresult>
    <section class="py-2">
      <a class="anchor d-flex" role="button">
        <img src="../../assets/icons/new-icon.svg" alt="Add key-result button" />
        <p class="add-button-text">Key Result hinzufügen</p>
      </a>
    </section>
  </div>
</div>
<mat-menu #objectiveMenu="matMenu" xPosition="before" yPosition="below">
  <button
    mat-menu-item
    class="menu-option"
    (click)="redirect(menuEntry); $event.stopPropagation()"
    *ngFor="let menuEntry of menuEntries"
  >
    {{ menuEntry.displayName }}
  </button>
</mat-menu>
