@import "_variables";

.objective {
  max-width: 750px;
  &:hover {
    box-shadow:
      0 0 0 0 rgba(0, 0, 0, 0.06),
      1px 1px 2px 0 rgba(0, 0, 0, 0.06),
      3px 3px 4px 0 rgba(0, 0, 0, 0.05),
      8px 6px 6px 0 rgba(0, 0, 0, 0.03),
      14px 11px 7px 0 rgba(0, 0, 0, 0.01),
      21px 18px 8px 0 rgba(0, 0, 0, 0);
  }
}

.three-dot-menu:hover {
  border-radius: 1rem;
  background-color: lightgray;
}

.three-dot-menu {
  color: $pz-dark-blue;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 35px;
  height: 32px;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 2px;
}

@media only screen and (min-width: 450px) {
  .three-dot-menu {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1217px) {
  .three-dot-menu {
    margin-left: 30px;
  }
}

.add-keyresult-text {
  margin-bottom: 5px;
}
