<div #container class="container-fluid">
  <ng-template
    (backdropClick)="close()"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayHeight]="'100vh'"
    [cdkConnectedOverlayOffsetY]="48"
    [cdkConnectedOverlayOpen]="true"
    [cdkConnectedOverlayOrigin]="container"
    [cdkConnectedOverlayPanelClass]="'panel'"
    [cdkConnectedOverlayPositions]="position"
    [cdkConnectedOverlayPush]="true"
    cdkConnectedOverlay
  >
    <div #sidebar [cdkTrapFocusAutoCapture]="true" cdkScrollable="false" cdkTrapFocus class="sidebar bg-white w-100">
      <div class="sidebar__content d-flex">
        <div [ngSwitch]="modelType" class="col-11">
          <div *ngSwitchDefault>Es ist eine Fehler aufgetreten!</div>
          <app-objective-detail *ngSwitchCase="'Objective'" [objectiveId]="id"></app-objective-detail>
          <app-keyresult-detail *ngSwitchCase="'KeyResult'" [keyResultId]="id"></app-keyresult-detail>
        </div>
        <button [routerLink]="'/'" cdkFocusInitial data-test-id="closeDrawer" mat-button class="col-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</div>
