<div #container class="container-fluid">
  <ng-template
    (backdropClick)="close()"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayHeight]="'100vh'"
    [cdkConnectedOverlayOffsetY]="48"
    [cdkConnectedOverlayOpen]="true"
    [cdkConnectedOverlayOrigin]="container"
    [cdkConnectedOverlayPositions]="position"
    [cdkConnectedOverlayPush]="true"
    [cdkConnectedOverlayPanelClass]="'panel'"
    cdkConnectedOverlay
    cdkScrollable="false"
  >
    <div #sidebar cdkTrapFocus="true" class="sidebar bg-white" cdkScrollable="false">
      <div class="sidebar__content">
        <div [ngSwitch]="modelType">
          <div *ngSwitchDefault>Kein passender switch case!</div>
          <app-objective-detail *ngSwitchCase="'Objective'" [objectiveId]="id"></app-objective-detail>
          <app-keyresult-detail *ngSwitchCase="'KeyResult'" [keyResultId]="id"></app-keyresult-detail>
        </div>
      </div>
    </div>
  </ng-template>
</div>
