@import "variables";

.action-list-item {
  background-color: $show-element;
  height: 40px;
  padding: 10px;
  margin: auto;
  color: black;
}

.confidence-label {
  margin-bottom: -7px;
}
app-check-in-form-ordinal {
  padding-top: 0.1rem;
}
