<section mat-dialog-title>
  <app-dialog-header *ngIf="!this.checkIn.id" [dialogTitle]="'Check-in erfassen'"></app-dialog-header>
  <app-dialog-header *ngIf="this.checkIn.id" [dialogTitle]="'Check-in bearbeiten'"></app-dialog-header>
  <p class="fs-6">Key Result</p>
  <p class="linebreak bg-display-element py-2 ps-2 mb-1 fs-6 fw-normal">{{ keyResult.title }}</p>
</section>

<mat-dialog-content>
  <div class="overflow-y-scroll overflow-x-hidden dialog-content p-2 scroll-shadows">
    <form [formGroup]="dialogForm" class="d-flex gap-2 flex-column">
      <section *ngIf="getActions()?.length != 0" class="d-flex gap-1 flex-column mb-3">
        <mat-label class="text-black">Action Plan:</mat-label>
        <span *ngFor="let action of getActions(); let i = index" class="d-flex flex-row">
          <mat-checkbox (change)="changeIsChecked($event, i)" [checked]="action.isChecked"></mat-checkbox>
          <span class="action-list-item w-100">
            {{ action.action }}
          </span>
        </span>
      </section>

      <div class="input-style gap-2 col-12">
        <label class="text-black">Kommentar/ Veränderung seit letztem Check-in (optional):</label>
        <textarea
          [attr.data-testId]="'changeInfo'"
          [ngClass]="formInputCheck(dialogForm, 'changeInfo')"
          class="big-dialog-form-field"
          formControlName="changeInfo"
        ></textarea>
        <div *ngIf="isTouchedOrDirty('changeInfo')">
          <mat-error *ngFor="let errorKey of getErrorKeysOfFormField('changeInfo')">
            <span>{{ errorMessages[errorKey.toUpperCase()] }}</span>
          </mat-error>
        </div>
      </div>

      <app-check-in-form-metric
        *ngIf="keyResult.keyResultType === 'metric'"
        [checkIn]="checkIn"
        [dialogForm]="dialogForm"
        [keyResult]="getKeyResultMetric()"
      ></app-check-in-form-metric>
      <app-check-in-form-ordinal
        *ngIf="keyResult.keyResultType === 'ordinal'"
        [checkIn]="checkIn"
        [dialogForm]="dialogForm"
        [keyResult]="getKeyResultOrdinal()"
      ></app-check-in-form-ordinal>

      <div class="input-style gap-2 col-12">
        <label class="text-black">Massnahmen (optional):</label>
        <textarea
          [attr.data-testId]="'initiatives'"
          [ngClass]="formInputCheck(dialogForm, 'initiatives')"
          class="w-100 big-dialog-form-field"
          formControlName="initiatives"
        ></textarea>
        <div *ngIf="isTouchedOrDirty('initiatives')">
          <mat-error *ngFor="let errorKey of getErrorKeysOfFormField('initiatives')">
            <span>{{ errorMessages[errorKey.toUpperCase()] }}</span>
          </mat-error>
        </div>
      </div>

      <div class="input-style justify-content-start gap-2 col-12">
        <label class="text-black confidence-label"
          >Confidence um Target
          <span *ngIf="keyResult.keyResultType === 'metric' && getKeyResultMetric() as kr">
            ({{ calculateTarget(kr) | unitValueTransformation: kr.unit }})
          </span>
          zu erreichen:
        </label>
        <app-confidence [checkIn]="checkIn" [edit]="true" class="w-100"></app-confidence>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    (click)="saveCheckIn()"
    [attr.data-testId]="'submit-check-in'"
    [disabled]="!this.dialogForm.valid"
    color="primary"
    mat-flat-button
    type="submit"
  >
    <span *ngIf="checkIn.id">Speichern</span>
    <span *ngIf="!checkIn.id">Check-in speichern</span>
  </button>
  <button
    *ngIf="!continued"
    [attr.data-testId]="'cancel-checkin'"
    class="ms-2"
    color="primary"
    mat-button
    mat-dialog-close
  >
    Abbrechen
  </button>
</mat-dialog-actions>
