<div mat-dialog-content class="dialog-padding">
  <app-dialog-header *ngIf="!this.checkIn.id" [dialogTitle]="'Check-in erfassen ' + getStepLabel()"></app-dialog-header>
  <app-dialog-header
    *ngIf="this.checkIn.id"
    [dialogTitle]="'Check-in bearbeiten ' + getStepLabel()"
  ></app-dialog-header>
  <!--  First part of dialog-->
  <div *ngIf="!continued">
    <p class="fs-6 mt-1 text-black">Key Result</p>
    <p class="ms-2 mt-2 text-black linebreak">{{ keyResult.title }}</p>
    <form [formGroup]="dialogForm" class="d-flex flex-column mt-3">
      <!--      Custom input which depends on type of keyResult-->
      <app-check-in-form-metric
        *ngIf="keyResult.keyResultType === 'metric'"
        [keyResult]="getKeyResultMetric()"
        [checkIn]="checkIn"
        [dialogForm]="dialogForm"
      ></app-check-in-form-metric>
      <app-check-in-form-ordinal
        *ngIf="keyResult.keyResultType === 'ordinal'"
        [keyResult]="getKeyResultOrdinal()"
        [checkIn]="checkIn"
        [dialogForm]="dialogForm"
      ></app-check-in-form-ordinal>
    </form>
  </div>
  <!--  Second part of dialog-->
  <div *ngIf="continued">
    <app-check-in-base-informations [dialogForm]="dialogForm"></app-check-in-base-informations>
  </div>
  <!--    Buttons to submit the check-in-->
  <div class="d-flex flex-row buttons">
    <button
      mat-flat-button
      color="primary"
      *ngIf="!continued"
      (click)="continued = true"
      [attr.data-testId]="'check-in-next'"
    >
      Weiter
    </button>
    <button
      [disabled]="!this.dialogForm.valid"
      (click)="saveCheckIn()"
      *ngIf="continued"
      type="submit"
      mat-flat-button
      color="primary"
      [attr.data-testId]="'submit-check-in'"
    >
      <span *ngIf="checkIn.id">Speichern</span>
      <span *ngIf="!checkIn.id">Check-in erfassen</span>
    </button>
    <button mat-button color="primary" *ngIf="!continued" mat-dialog-close class="ms-2">Abbrechen</button>
    <button mat-button color="primary" *ngIf="continued" (click)="continued = false" class="ms-2">Zurück</button>
  </div>
</div>
