<mat-dialog-content class="d-flex justify-content-center flex-column">
  <app-dialog-header [dialogTitle]="'This is an example dialog'"></app-dialog-header>
  <form [formGroup]="dialogForm" (ngSubmit)="save()" class="d-flex flex-column justify-content-center">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Ex. Tom" />
      <div *ngIf="isTouchedOrDirty('name')">
        <mat-error *ngFor="let errorKey of getErrorKeysOfFormField('name')">
          {{ errorMessages[errorKey.toUpperCase().trim()] }}
        </mat-error>
      </div>
    </mat-form-field>

    <mat-radio-group formControlName="gender">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="other">Other</mat-radio-button>
    </mat-radio-group>
    <div *ngIf="isTouchedOrDirty('gender')">
      <mat-error *ngFor="let errorKey of getErrorKeysOfFormField('gender')">
        {{ errorMessages[errorKey.toUpperCase().trim()] }}
      </mat-error>
    </div>

    <mat-form-field>
      <mat-label>Please select a hobby</mat-label>
      <mat-select name="hobbies" formControlName="hobby">
        <mat-option [value]="hobby" *ngFor="let hobby of hobbies">{{ hobby }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="isTouchedOrDirty('hobby')">
      <mat-error *ngFor="let errorKey of getErrorKeysOfFormField('hobby')">
        {{ errorMessages[errorKey.toUpperCase().trim()] }}
      </mat-error>
    </div>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        [attr.data-testId]="'submit'"
        mat-button
        type="submit"
        [mat-dialog-close]="true"
        [disabled]="!dialogForm.valid"
      >
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
