name: Validate

on: [push]
jobs:

  frontend_format-check_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.12.1'
      - name: Npm install
        run: npm ci
      - name: Check frontend format
        run: npm run check
      - name: Run unit tests
        run: npm test

  backend_format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check backend format
        run: mvn formatter:validate -f backend/pom.xml

  backend_tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: pwd
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Use Maven to run unittests and integration tests
        run: mvn clean verify
