<ng-container *ngIf="selectableAdminTeams$ | async as selectableAdminTeams">
  <div
    class="tooltip-wrapper"
    [matTooltip]="'Der User ist bereits in allen Teams in welchen Sie Admin sind'"
    [matTooltipDisabled]="!addButtonDisabled(selectableAdminTeams)"
  >
    <button
      *ngIf="showAddButton(allAdminTeams$ | async)"
      (click)="createUserTeam(selectableAdminTeams[0])"
      [attr.data-testId]="'add-user'"
      class="mdc-button px-0 pe-2"
      [disabled]="addButtonDisabled(selectableAdminTeams)"
      color="primary"
      mat-button
    >
      <span class="d-flex align-items-center fw-bold add-text">
        <img
          [src]="
            addButtonDisabled(selectableAdminTeams)
              ? '/assets/icons/new-icon-disabled.svg'
              : '/assets/icons/new-icon.svg'
          "
          alt="Add key-result button"
          class="add-cross-button"
        />
        Zu weiterem Team hinzufügen
      </span>
    </button>
  </div>
  <ng-container *ngIf="userTeam">
    <p class="mt-4 mb-2">Zu neuem Team hinzufügen</p>
    <div class="new-team w-100">
      <mat-form-field
        class="bg-white header-form-field"
        ngDefaultControl
        subscriptSizing="dynamic"
        appearance="outline"
      >
        <mat-select [attr.data-testId]="'select-team-dropdown'" [(ngModel)]="userTeam.team">
          <mat-option
            [attr.data-testId]="'select-team-dropdown-option'"
            *ngFor="let team of selectableAdminTeams"
            [value]="team"
            >{{ team.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <app-team-role-dropdown *ngIf="userTeam" [(isAdmin)]="userTeam.isTeamAdmin"></app-team-role-dropdown>
    </div>
    <div class="mt-3">
      <button [attr.data-testId]="'add-user-to-team-save'" (click)="save()" mat-flat-button color="primary">
        Hinzufügen
      </button>
      <button [attr.data-testId]="'add-user-to-team-cancel'" class="ms-2" (click)="userTeam = undefined" mat-button>
        Abbrechen
      </button>
    </div>
  </ng-container>
</ng-container>
