.dashboard-container {
  margin: 50px 50px 0 50px;
}

.headline-large {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
}

.filter-dropdown {
  margin-right: 20px;
}

.dashboard-filter {
  margin-bottom: 40px;
}
