.dashboard-container {
  margin: 50px 50px 0 50px;
}

.headline-large {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.title-create-button {
  display: flex;
  flex-direction: row;
}

.filter-dropdown {
  margin-right: 20px;
}

.dashboard-filter {
  margin-bottom: 40px;
}
