<div class="dashboard-container">
  <h2 class="headline-large">Ziele und Resultate</h2>

  <div>
    <mat-form-field appearance="fill" class="filter-dropdown">
      <mat-label>Team</mat-label>
      <mat-select [formControl]="teams" multiple>
        <mat-option *ngFor="let team of teamList | async" [value]="team">{{
          team.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Zyklus</mat-label>
      <mat-select>
        <mat-option *ngFor="let cycle of cycleList" [value]="cycle.cycle">
          {{ cycle.cycle }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
