:host(*) {
  background-color: inherit;
}

p {
  font-size: 0.75rem;
}

#confidence {
  width: min-content;
}

mat-slider {
  min-width: 350px;
}

.bg-light-gray {
  background-color: #f5f5f5;
}

.mat-mdc-slider.mat-accent {
  --mdc-slider-handle-color: #9e9e9e;
  --mdc-slider-focus-handle-color: #9e9e9e;
  --mdc-slider-hover-handle-color: #9e9e9e;
  --mdc-slider-active-track-color: #9e9e9e;
  --mdc-slider-inactive-track-color: #9e9e9e;

  --mdc-slider-with-tick-marks-active-container-color: black;
  --mdc-slider-with-tick-marks-inactive-container-color: #212121;
  --mat-mdc-slider-ripple-color: black;
  --mat-mdc-slider-hover-ripple-color: rgba(33, 33, 33, 0.05);
  --mat-mdc-slider-focus-ripple-color: rgba(33, 33, 33, 0.2);
}
