<div class="d-flex align-items-center gap-1" *ngIf="keyResult">
  <div [ngClass]="edit ? 'keyResult-attribute-edit' : 'keyResult-attribute-show'">
    <p [ngClass]="edit ? 'fw-bold' : 'fw-normal'" data-testid="confidence">
      {{ keyResult.lastCheckIn?.confidence }}/{{ max }}
    </p>
  </div>

  <mat-slider
    *ngIf="edit"
    [(ngModel)]="keyResult.lastCheckIn!.confidence"
    [max]="max"
    [min]="min"
    [step]="1"
    [tickInterval]="1"
    [thumbLabel]="true"
    color="primary"
  >
  </mat-slider>
</div>
